.footer {
  &__content-wrapper{
    background: linear-gradient(rgba(0,0,0,.5) 100%, rgba(0,0,0,.5) 100%),
    url('../img/footer-bg.jpg');
    @include cover-background;
  }
  &__empty-line {
    width: 100%;
    height: 20px;
    @include breakpoint(md){
      height: 25px;
    }
    @include breakpoint(sm){
      height: 40px;
    }
  }
  &__content-wrapper{
    padding: 25px 0;
    @include breakpoint(lg){
      padding-left: 20px;
      padding-right: 20px;
    }
    @include breakpoint(md){
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @include breakpoint(sm){
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  &__row {
    justify-content: space-between;
    display: flex;
    align-items: center;
    column-gap: 40px;
    @include breakpoint(lg12){
      column-gap: 25px;
    }
  }

  &__l-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @include breakpoint(md){
      row-gap: 15px;
    }
  }

  .logo {
  }

  .nav__bar-item {
  }

  .logo__wrapper {
    line-height: 1;
  }

  .logo__txt {
  }

  .logo__txt-blue {
  }

  &__rights {
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    color: #FFFFFF;
    @include fluid-type(768px, 1920px, 12px, 14px);
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 10px, 12px);
    }
  }

  &__list {
    display: flex;
    flex: 1;
    column-gap: 52px;
    justify-content: center;
    flex-wrap: wrap;
    @include breakpoint(md){
      column-gap: 25px;
    }
    @include breakpoint(sm){
      display: none;
    }
  }

  &__item {
    transition: .3s ease-in-out;
    border-bottom: 1px solid rgba(0,0,0,0);

    &:hover{
      border-bottom: 1px solid $secondaryClr;
    }
  }

  &__link {
    font-weight: 500;
    line-height: 200%;
    color: #FFFFFF;
    transition: .3s ease-in-out;

    @include fluid-type(768px, 1920px, 14px, 18px);
    @include breakpoint(md){

    }
    &:hover{
      color:$secondaryClr;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    max-width: 212px;
    @include breakpoint(md){
      row-gap: 15px;
    }
    @include breakpoint(xs38){
      max-width: 132px;
    }
  }

  &__address {
    color:#fff;
    font-weight: 400;
    line-height: 20px;
    @include fluid-type(768px, 1920px, 12px, 14px);
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 10px, 12px);
    }
  }

  &__email {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-decoration-line: underline;
    color: #FFFFFF;
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 10px, 14px);
    }
  }
}