.header{
  background: linear-gradient(rgba(0, 0, 0, 0.56)), url('../img/hero-bg-big.jpg');
  @include cover-background;
}

.nav {
  height: $navHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $aboveNavContentHeight 15px 0;
  z-index: 10;

  @include breakpoint(md){
    height: 80px;
    padding:0 15px;
  }

  @include breakpoint(sm){
    position: fixed;
    width: 100%;
  }
}
.nav__bar-item{
  &:last-child, &:first-child{
    max-width: 150px;
    width:100%;

    @include breakpoint(sm){
      max-width: unset;
      width: fit-content;
    }
  }


}
.hamburger {
  display: none;


  @include breakpoint(sm){
    width:40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2.5px;
    cursor: pointer;
    z-index: 5;

    &.active .hamburger__bar:nth-child(2) {
      opacity: 0;
    }
    &.active .hamburger__bar:nth-child(4) {
      transform: translateY(-6.5px) rotate(-45deg);
      width:20px;
    }
    &.active .hamburger__bar:nth-child(1) {
      transform: translateY(6.5px) rotate(45deg);
    }
    &.active .hamburger__bar:nth-child(3) {
      opacity: 0;


    }
  }
}

.hamburger__bar {
  display: block;

  height: 2px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  background-color: $secondaryClr;
  &:nth-child(2n){
    width: 18px;
  }
  &:nth-child(2n+1){
    width: 20px;
  }
}
.nav__login-wrapper{
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 10px;
}

.nav__menu-list{
  display: flex;
  align-items: center;
  column-gap: 52px;
  margin: 0 auto;
  @include breakpoint(lg){
    column-gap: 42px;
  }

  @include breakpoint(md){
    column-gap: 34px;
  }
  @include breakpoint(sm){
    flex-direction: column;
    background-color: $secondaryClr;
    padding:67px 0;
    width: 100%;
  }
}
.nav__menu {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  &.active{
    @include breakpoint(sm){
      top: 0;
      justify-content: start;
    }
  }

  @include breakpoint(md){
    top:$navHeight + $aboveNavContentHeight;
  }
  @include breakpoint(sm){
    justify-content: start;
    height: 100%;
    position: fixed;
    left: 0;
    top:-100%;
    width: 100%;
    //border-radius: 0 0 10px 10px;
    text-align: center;
    transition: 0.3s;
    //box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    align-items: start;

    &.active{
      background: rgba(0, 0, 0, 0.59);
      left:0;
    }
  }
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.nav__item {
  white-space: nowrap;

  @include breakpoint(sm){
    //margin:2.5rem 0;
    width:162px;
    line-height: 80px;
    border-bottom:1px solid rgba(255, 255, 255, 0.52);
    &:last-child{
      border-bottom: 0;
    }
  }
}

.nav__link{
  font-weight: 500;
  line-height: 100%;
  color: #FFFFFF;
  @include fluid-type(768px, 1920px, 16px, 18px);
  display: inline-block;
  position: relative;

  &:hover{
    color: #fff;
  }

  &:after{
    content:'';
    bottom: -3px;
    left: 0;
    position: absolute;
    width:0;
    height: 2px;
    background-color: $secondaryClr;
    transition: .3s ease-in-out;
  }
  &:hover:after{
    width:100%;
  }
}

.logo {

}

.nav__bar-item{

}
.logo__wrapper{
  font-weight: 700;
  font-size: 24px;
  line-height: 80px;
  color: #FFFFFF;
  white-space: nowrap;
  @include fluid-type(768px, 1920px, 20px, 24px);

  @include breakpoint(md){
    @include fluid-type(320px, 768px, 16px, 20px);
  }
}
.logo__txt-blue{
  color: #00B1E9;
}

