@charset "utf-8";

@import "abstracts/_abstracts-dir";
@import "vendor/_verndor-dir";
@import "core/_core-dir";
@import "components/_components-dir";
@import "layouts/_layouts-dir";
@import "pages/_pages-dir";

.content{
  max-width: $maxWidth;
  margin: 0 auto;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #000;

  &.lock{
      overflow: hidden;
  }
}

.background-center{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}