h1{
  font-weight: 700;
  font-size: 43px;
  line-height: 60px;
  color: #FFFFFF;
  text-transform: uppercase;
  @include fluid-type(768px, 1920px, 34px,43px);

  @include breakpoint(md){
    @include fluid-type(320px, 768px, 24px,34px);
  }
  @include breakpoint(sm){
    line-height: 40px;
  }
}
h2{
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
  color: #1178B2;
  @include fluid-type(768px, 1920px, 32px, 36px);
  @include breakpoint(md){
    line-height: 200%;
    text-align: center;
    @include fluid-type(320px, 768px, 24px, 32px);
  }
}