<section class="about">
    <div class="content">
        <div class="about__row">
            <div class="about__header">
                <h2 class="about__title">Об акселераторе IT бизнеса</h2>
                <p class="about__desc">Программа акселератора расчитана на 8 недель интенсивного онлайн  курса с вебинарами приглашенных экспертов по международным рынкам, разборами ваших идей и проектов </p>
            </div>
            <div class="about__cards">
                <div class="about__card">
                    <p class="about__card-title">3</p>
                    <p class="about__card-desc">Месяца обучения</p>
                </div>

                <div class="about__card">
                    <p class="about__card-title">
                        <svg width="95" height="95" viewBox="0 0 95 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M47.5 0C21.2658 0 0 21.2658 0 47.5C0 73.7342 21.2658 95 47.5 95C73.7342 95 95 73.7342 95 47.5C95 21.2658 73.7342 0 47.5 0ZM63.2612 68.4919C62.5142 69.2351 61.7308 70.0146 61.095 70.6524C60.5223 71.227 60.1181 71.9357 59.9132 72.7037C59.624 73.7878 59.3903 74.8834 58.9996 75.9349L55.6688 84.9082C53.0334 85.4828 50.3059 85.8064 47.5 85.8064V80.5623C47.8237 78.1452 46.0367 73.6173 43.1656 70.7463C42.0164 69.5971 41.371 68.038 41.371 66.4119V60.2809C41.371 58.0515 40.1701 56.0021 38.2183 54.9238C35.466 53.4011 31.5511 51.2732 28.8697 49.9229C26.6709 48.8158 24.6368 47.4061 22.8077 45.7571L22.6544 45.6192C21.3464 44.4384 20.185 43.1047 19.1954 41.6468C17.3988 39.0094 14.4722 34.6712 12.5703 31.8518C16.4909 23.1371 23.5566 16.1385 32.3364 12.3366L36.9351 14.6369C38.973 15.6558 41.371 14.1753 41.371 11.8961V9.73175C42.9013 9.48468 44.4585 9.32762 46.0424 9.26825L51.4628 14.6886C52.6599 15.8857 52.6599 17.8259 51.4628 19.023L50.5645 19.9194L48.5841 21.8998C47.9865 22.4974 47.9865 23.4684 48.5841 24.066L49.4824 24.9643C50.0799 25.5619 50.0799 26.533 49.4824 27.1305L47.9501 28.6628C47.6624 28.9499 47.2725 29.1111 46.866 29.111H45.1442C44.7458 29.111 44.3627 29.2661 44.0754 29.5458L42.1754 31.3941C41.9425 31.6208 41.7877 31.9158 41.7333 32.2363C41.6789 32.5568 41.7277 32.8863 41.8728 33.1772L44.8588 39.1511C45.3682 40.1701 44.627 41.3691 43.4893 41.3691H42.4091C42.0394 41.3691 41.6832 41.235 41.4054 40.9936L39.628 39.4499C39.2258 39.101 38.7397 38.8627 38.2175 38.7586C37.6953 38.6545 37.155 38.6881 36.6497 38.8561L30.6796 40.8462C30.2238 40.9981 29.8274 41.2897 29.5466 41.6795C29.2657 42.0694 29.1147 42.5377 29.1148 43.0181C29.1148 43.8858 29.6051 44.6768 30.3808 45.0656L32.503 46.1267C34.3053 47.0288 36.2934 47.4981 38.3084 47.4981C40.3233 47.4981 42.6351 52.725 44.4374 53.6271H57.2222C58.8483 53.6271 60.4054 54.2726 61.5566 55.4218L64.1786 58.0438C65.274 59.1397 65.8893 60.6258 65.889 62.1752C65.8886 63.3493 65.6563 64.5117 65.2053 65.5957C64.7543 66.6798 64.0937 67.664 63.2612 68.4919ZM79.8689 50.9955C78.76 50.7177 77.7927 50.0378 77.1588 49.0859L73.715 43.9203C73.2111 43.1656 72.9422 42.2784 72.9422 41.371C72.9422 40.4635 73.2111 39.5764 73.715 38.8217L77.4671 33.1945C77.9115 32.5298 78.5206 31.9897 79.2369 31.6335L81.723 30.3904C84.3125 35.5465 85.8064 41.3461 85.8064 47.5C85.8064 49.1606 85.6647 50.7867 85.4579 52.3917L79.8689 50.9955Z" fill="url(#paint0_linear_1_3696)"/>
                            <defs>
                                <linearGradient id="paint0_linear_1_3696" x1="47.5" y1="2.92915e-06" x2="131.325" y2="114.168" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#8BD7DC"/>
                                    <stop offset="1" stop-color="#1246A9"/>
                                </linearGradient>
                            </defs>
                        </svg>
                    </p>
                    <p class="about__card-desc">Приглашенные эксперты</p>
                </div>

                <div class="about__card">
                    <p class="about__card-title">
                        <svg width="105" height="83" viewBox="0 0 105 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M81.375 36.3125C68.3156 36.3125 57.75 46.7523 57.75 59.6562C57.75 72.5602 68.3156 83 81.375 83C94.4344 83 105 72.5602 105 59.6562C105 46.7523 94.4344 36.3125 81.375 36.3125ZM91.875 60.6775C91.875 61.5367 91.1531 62.25 90.2836 62.25H80.3414C79.4719 62.25 78.75 61.5367 78.75 60.6775V48.26C78.75 47.4008 79.4719 46.6875 80.3414 46.6875H82.4086C83.2781 46.6875 84 47.4008 84 48.26V57.0625H90.2836C91.1531 57.0625 91.875 57.7758 91.875 58.635V60.6775ZM52.5 59.6562C52.5 55.1496 53.5992 50.8861 55.4859 47.0928C54.1734 46.8496 52.8281 46.6875 51.45 46.6875H48.7102C45.068 48.341 41.0156 49.2812 36.75 49.2812C32.4844 49.2812 28.4484 48.341 24.7898 46.6875H22.05C9.87656 46.6875 0 56.4465 0 68.475V75.2188C0 79.5146 3.52734 83 7.875 83H64.8211C57.3891 77.8287 52.5 69.3018 52.5 59.6562ZM36.75 41.5C48.3492 41.5 57.75 32.2111 57.75 20.75C57.75 9.28887 48.3492 0 36.75 0C25.1508 0 15.75 9.28887 15.75 20.75C15.75 32.2111 25.1508 41.5 36.75 41.5Z" fill="url(#paint0_linear_1_3701)"/>
                            <defs>
                                <linearGradient id="paint0_linear_1_3701" x1="52.5" y1="2.55915e-06" x2="119.15" y2="114.836" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#8BD7DC"/>
                                    <stop offset="1" stop-color="#1246A9"/>
                                </linearGradient>
                            </defs>
                        </svg>
                    </p>
                    <p class="about__card-desc">Персональный менеджер</p>
                </div>
            </div>
            <div class="about__video">
                <p class="about__video-desc">
                    Об акселерационной программе
                </p>
                <div class="about__play-wrapper">
                    <div class="about__animation"></div>
                    <button class="about__play call-modal">
                        <svg width="38" height="41" viewBox="0 0 38 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35.2444 16.1555C38.6108 18.0735 38.6108 22.9261 35.2444 24.8441L8.3805 40.15C5.04725 42.0491 0.90529 39.6419 0.905291 35.8056L0.905292 5.19398C0.905292 1.35767 5.04725 -1.0495 8.3805 0.849634L35.2444 16.1555Z" fill="white"/>
                        </svg>
                    </button>
                </div>
                <!--<button class="call-modal">Open Modal</button>-->
                <div id="video-1" class="modal">
                    <div class="modal__content">
                        <span class="modal__close">&times;</span>
                        <iframe class="modal__video"
                                width="560" height="315" src="https://www.youtube.com/embed/TG5X4kOjEX8?rel=0"
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                                clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>