<section class="contacts">
  <div class="content">
    <div class="contacts__row">
      <div class="contacts__txt">
        <div class="contacts__txt-top">
          <h2 class="contacts__title">Остались вопросы?</h2>
          <p class="contacts__desc">Оставьте заявку и наша команда свяжется с вами</p>
        </div>
        <div class="contacts__txt-bottom">
          <p class="contacts__subtitle">Или напишите нам:</p>
          <div class="contacts__socials">
            <a href="#" class="contacts__social-link">
              <div class="contacts__social">
                <div class="contacts__msg-icon contacts__msg-icon--telegram">
                  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16"> <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                  </svg>
                </div>
                <div class="contacts__msg-txt">
                  Telegram
                </div>
              </div>
            </a>
            <a href="#" class="contacts__social-link">
              <div class="contacts__social">
                <div class="contacts__msg-icon contacts__msg-icon--whatsapp">
                  <svg height="27px" width="27px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                       viewBox="0 0 58 58" xml:space="preserve">
                      <g>
                          <path style="fill:#2CB742;" d="M0,58l4.988-14.963C2.457,38.78,1,33.812,1,28.5C1,12.76,13.76,0,29.5,0S58,12.76,58,28.5
                              S45.24,57,29.5,57c-4.789,0-9.299-1.187-13.26-3.273L0,58z"/>
                        <path style="fill:#FFFFFF;" d="M47.683,37.985c-1.316-2.487-6.169-5.331-6.169-5.331c-1.098-0.626-2.423-0.696-3.049,0.42
                              c0,0-1.577,1.891-1.978,2.163c-1.832,1.241-3.529,1.193-5.242-0.52l-3.981-3.981l-3.981-3.981c-1.713-1.713-1.761-3.41-0.52-5.242
                              c0.272-0.401,2.163-1.978,2.163-1.978c1.116-0.627,1.046-1.951,0.42-3.049c0,0-2.844-4.853-5.331-6.169
                              c-1.058-0.56-2.357-0.364-3.203,0.482l-1.758,1.758c-5.577,5.577-2.831,11.873,2.746,17.45l5.097,5.097l5.097,5.097
                              c5.577,5.577,11.873,8.323,17.45,2.746l1.758-1.758C48.048,40.341,48.243,39.042,47.683,37.985z"/>
                      </g>
                  </svg>

                </div>
                <div class="contacts__msg-txt">
                  Whatsapp
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <form action="" class="contacts__form">
        <input type="text" class="contacts__name-field" placeholder="Имя">
        <input type="email" class="contacts__email-field" placeholder="Почта">
        <input class="contacts__country-hidden-code" type="hidden" value="">
        <div class="contacts__phone">

          <input type="text" class="contacts__phone-txt" >
          <button class="contacts__c-code-btn" type="button">
            <span class="contacts__svg-wrapper">
              <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L7 7L13 1" stroke="#1178B2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
            <span class="contacts__country-field"></span>
          </button>
          <ul class="contacts__code-list">
            <li class="contacts__code-item">
              <span class="contacts__country-code">(380)
              </span>
              <span class="contacts__code-flag">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="20" zoomAndPan="magnify" viewBox="0 0 20 25.000001"  preserveAspectRatio="xMidYMid meet" version="1.0"><defs>
                     <clipPath id="id1">
                     <path d="M 2.511719 6.132812 L 27.191406 6.132812 L 27.191406 16 L 2.511719 16 Z M 2.511719 6.132812 " clip-rule="nonzero"/></clipPath><clipPath id="id2"><path d="M 2.511719 15 L 27.191406 15 L 27.191406 24.277344 L 2.511719 24.277344 Z M 2.511719 15 " clip-rule="nonzero"/>
                   </clipPath></defs><g clip-path="url(#id1)">
                     <path fill="rgb(0%, 35.688782%, 73.329163%)" d="M 24.445312 6.132812 L 5.257812 6.132812 C 3.746094 6.132812 2.515625 7.382812 2.515625 8.925781 L 2.515625 15.207031 L 27.183594 15.207031 L 27.183594 8.925781 C 27.183594 7.382812 25.957031 6.132812 24.445312 6.132812 Z M 24.445312 6.132812 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#id2)">
                     <path fill="rgb(100%, 83.529663%, 0%)" d="M 27.183594 21.488281 C 27.183594 23.027344 25.957031 24.277344 24.445312 24.277344 L 5.257812 24.277344 C 3.746094 24.277344 2.515625 23.027344 2.515625 21.488281 L 2.515625 15.207031 L 27.183594 15.207031 Z M 27.183594 21.488281 " fill-opacity="1" fill-rule="nonzero"/></g>
                </svg>
              </span>
            </li>
            <li class="contacts__code-item">
              <span class="contacts__country-code">(380)
              </span>
              <span class="contacts__code-flag">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="20" zoomAndPan="magnify" viewBox="0 0 20 25.000001"  preserveAspectRatio="xMidYMid meet" version="1.0"><defs>
                     <clipPath id="id1">
                     <path d="M 2.511719 6.132812 L 27.191406 6.132812 L 27.191406 16 L 2.511719 16 Z M 2.511719 6.132812 " clip-rule="nonzero"/></clipPath><clipPath id="id2"><path d="M 2.511719 15 L 27.191406 15 L 27.191406 24.277344 L 2.511719 24.277344 Z M 2.511719 15 " clip-rule="nonzero"/>
                   </clipPath></defs><g clip-path="url(#id1)">
                     <path fill="rgb(0%, 35.688782%, 73.329163%)" d="M 24.445312 6.132812 L 5.257812 6.132812 C 3.746094 6.132812 2.515625 7.382812 2.515625 8.925781 L 2.515625 15.207031 L 27.183594 15.207031 L 27.183594 8.925781 C 27.183594 7.382812 25.957031 6.132812 24.445312 6.132812 Z M 24.445312 6.132812 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#id2)">
                     <path fill="rgb(100%, 83.529663%, 0%)" d="M 27.183594 21.488281 C 27.183594 23.027344 25.957031 24.277344 24.445312 24.277344 L 5.257812 24.277344 C 3.746094 24.277344 2.515625 23.027344 2.515625 21.488281 L 2.515625 15.207031 L 27.183594 15.207031 Z M 27.183594 21.488281 " fill-opacity="1" fill-rule="nonzero"/></g>
                </svg>
              </span>
            </li>
            <li class="contacts__code-item">
              <span class="contacts__country-code">(380)
              </span>
              <span class="contacts__code-flag">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="20" zoomAndPan="magnify" viewBox="0 0 20 25.000001"  preserveAspectRatio="xMidYMid meet" version="1.0"><defs>
                     <clipPath id="id1">
                     <path d="M 2.511719 6.132812 L 27.191406 6.132812 L 27.191406 16 L 2.511719 16 Z M 2.511719 6.132812 " clip-rule="nonzero"/></clipPath><clipPath id="id2"><path d="M 2.511719 15 L 27.191406 15 L 27.191406 24.277344 L 2.511719 24.277344 Z M 2.511719 15 " clip-rule="nonzero"/>
                   </clipPath></defs><g clip-path="url(#id1)">
                     <path fill="rgb(0%, 35.688782%, 73.329163%)" d="M 24.445312 6.132812 L 5.257812 6.132812 C 3.746094 6.132812 2.515625 7.382812 2.515625 8.925781 L 2.515625 15.207031 L 27.183594 15.207031 L 27.183594 8.925781 C 27.183594 7.382812 25.957031 6.132812 24.445312 6.132812 Z M 24.445312 6.132812 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#id2)">
                     <path fill="rgb(100%, 83.529663%, 0%)" d="M 27.183594 21.488281 C 27.183594 23.027344 25.957031 24.277344 24.445312 24.277344 L 5.257812 24.277344 C 3.746094 24.277344 2.515625 23.027344 2.515625 21.488281 L 2.515625 15.207031 L 27.183594 15.207031 Z M 27.183594 21.488281 " fill-opacity="1" fill-rule="nonzero"/></g>
                </svg>
              </span>
            </li>
            <li class="contacts__code-item">
              <span class="contacts__country-code">(380)
              </span>
              <span class="contacts__code-flag">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="20" zoomAndPan="magnify" viewBox="0 0 20 25.000001"  preserveAspectRatio="xMidYMid meet" version="1.0"><defs>
                     <clipPath id="id1">
                     <path d="M 2.511719 6.132812 L 27.191406 6.132812 L 27.191406 16 L 2.511719 16 Z M 2.511719 6.132812 " clip-rule="nonzero"/></clipPath><clipPath id="id2"><path d="M 2.511719 15 L 27.191406 15 L 27.191406 24.277344 L 2.511719 24.277344 Z M 2.511719 15 " clip-rule="nonzero"/>
                   </clipPath></defs><g clip-path="url(#id1)">
                     <path fill="rgb(0%, 35.688782%, 73.329163%)" d="M 24.445312 6.132812 L 5.257812 6.132812 C 3.746094 6.132812 2.515625 7.382812 2.515625 8.925781 L 2.515625 15.207031 L 27.183594 15.207031 L 27.183594 8.925781 C 27.183594 7.382812 25.957031 6.132812 24.445312 6.132812 Z M 24.445312 6.132812 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#id2)">
                     <path fill="rgb(100%, 83.529663%, 0%)" d="M 27.183594 21.488281 C 27.183594 23.027344 25.957031 24.277344 24.445312 24.277344 L 5.257812 24.277344 C 3.746094 24.277344 2.515625 23.027344 2.515625 21.488281 L 2.515625 15.207031 L 27.183594 15.207031 Z M 27.183594 21.488281 " fill-opacity="1" fill-rule="nonzero"/></g>
                </svg>
              </span>
            </li>
            <li class="contacts__code-item">
              <span class="contacts__country-code">(380)
              </span>
              <span class="contacts__code-flag">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="20" zoomAndPan="magnify" viewBox="0 0 20 25.000001"  preserveAspectRatio="xMidYMid meet" version="1.0"><defs>
                     <clipPath id="id1">
                     <path d="M 2.511719 6.132812 L 27.191406 6.132812 L 27.191406 16 L 2.511719 16 Z M 2.511719 6.132812 " clip-rule="nonzero"/></clipPath><clipPath id="id2"><path d="M 2.511719 15 L 27.191406 15 L 27.191406 24.277344 L 2.511719 24.277344 Z M 2.511719 15 " clip-rule="nonzero"/>
                   </clipPath></defs><g clip-path="url(#id1)">
                     <path fill="rgb(0%, 35.688782%, 73.329163%)" d="M 24.445312 6.132812 L 5.257812 6.132812 C 3.746094 6.132812 2.515625 7.382812 2.515625 8.925781 L 2.515625 15.207031 L 27.183594 15.207031 L 27.183594 8.925781 C 27.183594 7.382812 25.957031 6.132812 24.445312 6.132812 Z M 24.445312 6.132812 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#id2)">
                     <path fill="rgb(100%, 83.529663%, 0%)" d="M 27.183594 21.488281 C 27.183594 23.027344 25.957031 24.277344 24.445312 24.277344 L 5.257812 24.277344 C 3.746094 24.277344 2.515625 23.027344 2.515625 21.488281 L 2.515625 15.207031 L 27.183594 15.207031 Z M 27.183594 21.488281 " fill-opacity="1" fill-rule="nonzero"/></g>
                </svg>
              </span>
            </li>
            <li class="contacts__code-item">
              <span class="contacts__country-code">(380)
              </span>
              <span class="contacts__code-flag">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="20" zoomAndPan="magnify" viewBox="0 0 20 25.000001"  preserveAspectRatio="xMidYMid meet" version="1.0"><defs>
                     <clipPath id="id1">
                     <path d="M 2.511719 6.132812 L 27.191406 6.132812 L 27.191406 16 L 2.511719 16 Z M 2.511719 6.132812 " clip-rule="nonzero"/></clipPath><clipPath id="id2"><path d="M 2.511719 15 L 27.191406 15 L 27.191406 24.277344 L 2.511719 24.277344 Z M 2.511719 15 " clip-rule="nonzero"/>
                   </clipPath></defs><g clip-path="url(#id1)">
                     <path fill="rgb(0%, 35.688782%, 73.329163%)" d="M 24.445312 6.132812 L 5.257812 6.132812 C 3.746094 6.132812 2.515625 7.382812 2.515625 8.925781 L 2.515625 15.207031 L 27.183594 15.207031 L 27.183594 8.925781 C 27.183594 7.382812 25.957031 6.132812 24.445312 6.132812 Z M 24.445312 6.132812 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#id2)">
                     <path fill="rgb(100%, 83.529663%, 0%)" d="M 27.183594 21.488281 C 27.183594 23.027344 25.957031 24.277344 24.445312 24.277344 L 5.257812 24.277344 C 3.746094 24.277344 2.515625 23.027344 2.515625 21.488281 L 2.515625 15.207031 L 27.183594 15.207031 Z M 27.183594 21.488281 " fill-opacity="1" fill-rule="nonzero"/></g>
                </svg>
              </span>
            </li>
            <li class="contacts__code-item">
              <span class="contacts__country-code">(2)
              </span>
              <span class="contacts__code-flag">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="20" zoomAndPan="magnify" viewBox="0 0 20 25.000001"  preserveAspectRatio="xMidYMid meet" version="1.0"><defs>
                     <clipPath id="id1">
                     <path d="M 2.511719 6.132812 L 27.191406 6.132812 L 27.191406 16 L 2.511719 16 Z M 2.511719 6.132812 " clip-rule="nonzero"/></clipPath><clipPath id="id2"><path d="M 2.511719 15 L 27.191406 15 L 27.191406 24.277344 L 2.511719 24.277344 Z M 2.511719 15 " clip-rule="nonzero"/>
                   </clipPath></defs><g clip-path="url(#id1)">
                     <path fill="rgb(0%, 35.688782%, 73.329163%)" d="M 24.445312 6.132812 L 5.257812 6.132812 C 3.746094 6.132812 2.515625 7.382812 2.515625 8.925781 L 2.515625 15.207031 L 27.183594 15.207031 L 27.183594 8.925781 C 27.183594 7.382812 25.957031 6.132812 24.445312 6.132812 Z M 24.445312 6.132812 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#id2)">
                     <path fill="rgb(100%, 83.529663%, 0%)" d="M 27.183594 21.488281 C 27.183594 23.027344 25.957031 24.277344 24.445312 24.277344 L 5.257812 24.277344 C 3.746094 24.277344 2.515625 23.027344 2.515625 21.488281 L 2.515625 15.207031 L 27.183594 15.207031 Z M 27.183594 21.488281 " fill-opacity="1" fill-rule="nonzero"/></g>
                </svg>
              </span>
            </li>

          </ul>
        </div>
        <input type="submit" value="Оставить заявку" class="contacts__sub-btn">
      </form>
    </div>
  </div>
</section>