<section class="consultation">
    <div class="content">
        <div class="consultation__row">
            <p class="consultation__title">
                <span class="consultation__txt-green">Научитесь</span><span class="consultation__txt-green"> исследовать</span><span class="consultation__txt-green"> иностранные</span><span class="consultation__txt-green"> рынки</span><span class="consultation__txt-green"> и</span><span class="consultation__txt-green"> откройте</span><span class="consultation__txt-green"> новые</span><span class="consultation__txt-green"> возможности</span><span class="consultation__txt-green"> для</span><span class="consultation__txt-green"> своего</span><span class="consultation__txt-green"> бизнеса</span>
            </p>
            <p class="consultation__desc">
                Наша команда поможет вам изучить рынки Ближнего Востока, Азии, Латинской
                Америки и Африки
            </p>
            <a href="#" class="consultation__get-con-btn">Получить консультацию</a>
        </div>
    </div>
</section>