<section class="customers">
  <div class="content">
    <div class="customers__row">
      <h2 class="customers__title">Для кого мы?</h2>
      <div class="customers__cards">
        <div class="customers__card">
          <p class="customers__card-number">01</p>
          <p class="customers__card-title">IT проекты на стадии идеи</p>
          <p class="customers__card-desc">
            Для стартапов, которые планируют привлечь международные инвестиции, протестировать спрос и запустить продукт
          </p>
        </div>

        <div class="customers__card">
          <p class="customers__card-number">02</p>
          <p class="customers__card-title">Инновационный бизнес</p>
          <p class="customers__card-desc">
            Для уже работающего технологического бизнес, позволим найти новые международне рынки сбыта, масштабировать
            бизнес
          </p>
        </div>

        <div class="customers__card customers__card--bottom">
          <p class="customers__card-number">03</p>
          <p class="customers__card-title">Корпорации</p>
          <p class="customers__card-desc">Для уже работающего технологического бизнес, позволим найти новые международне
            рынки сбыта, масштабировать бизнес</p>
        </div>
      </div>
    </div>
  </div>
</section>