<section class="events">
    <div class="content">
        <div class="events__row">
            <h2 class="events__title"></h2>
            <div class="events__cards">
                <div class="events__card">
                    <div class="events__img-wrapper">
                        <img src="img/mena.jpg" alt="Mena" class="events__img">
                        <img src="img/mena-sm.jpg" alt="Mena" class="events__img--vertical">
                    </div>
                    <div class="events__card-txt">
                        <p class="events__card-title">Новый отчет по MENA</p>
                        <p class="events__card-desc">Аналитический отчет по рынкам
                            Ближнего Востока (инвесторы,
                            объем раундов, ТОП сферы)</p>
                        <p class="events__card-date">22.11.2022</p>
                    </div>
                </div>

                <div class="events__card">
                    <div class="events__img-wrapper">
                        <img src="img/вебинар.jpg" alt="Вебинар" class="events__img">
                        <img src="img/вебинар-sm.jpg" alt="Вебинар" class="events__img--vertical">
                    </div>
                    <div class="events__card-txt">
                        <p class="events__card-title">Вебинар по особенностям
                            рынков Ближнего Востока</p>
                        <p class="events__card-desc">Поговорим с экспертами рынков
                            в формате дискуссии</p>
                        <p class="events__card-date">22.11.2022</p>
                    </div>
                </div>

                <div class="events__card">
                    <div class="events__img-wrapper">
                        <img src="img/metaventures.jpg" alt="metaventures" class="events__img">
                        <img src="img/metaventures-sm.jpg" alt="metaventures" class="events__img--vertical">
                    </div>
                    <div class="events__card-txt">
                        <p class="events__card-title">Вебинар по особенностям
                            рынков Ближнего Востока</p>
                        <p class="events__card-desc">Поговорим с экспертами рынков
                            в формате дискуссии</p>
                        <p class="events__card-date">22.11.2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>