<section class="experts">
  <div class="content">
    <div class="experts__row">
      <h2 class="experts__title">Эксперты и трекеры программы</h2>
      <div class="experts__slider-wrapper">
        <div class="experts__slider">
          <div class="experts__slide">
            <div class="experts__img-wrapper">
              <img src="img/expert-1.jpg" alt="Expert's photo" class="experts__img">
            </div>
            <div class="experts__txt">
              <p class="experts__name">Юрий Ким</p>
              <p class="experts__about">
                Проведение исследования целевой аудитории позволит сформировать Product market fit
              </p>
            </div>
          </div>

          <div class="experts__slide">
            <div class="experts__img-wrapper">
              <img src="img/expert-2.jpg" alt="Expert's photo" class="experts__img">
            </div>
            <div class="experts__txt">
              <p class="experts__name">Эшли Абрамс</p>
              <p class="experts__about">
                Проведение исследования целевой аудитории позволит сформировать Product market fit
              </p>
            </div>
          </div>

          <div class="experts__slide">
            <div class="experts__img-wrapper">
              <img src="img/expert-3.jpg" alt="Expert's photo" class="experts__img">
            </div>
            <div class="experts__txt">
              <p class="experts__name">Фатими Юсуф</p>
              <p class="experts__about">
                Проведение исследования целевой аудитории позволит сформировать Product market fit
              </p>
            </div>
          </div>

          <div class="experts__slide">
            <div class="experts__img-wrapper">
              <img src="img/expert-4.jpg" alt="Expert's photo" class="experts__img">
            </div>
            <div class="experts__txt">
              <p class="experts__name">Майкл Донован</p>
              <p class="experts__about">
                Проведение исследования целевой аудитории позволит сформировать Product market fit
              </p>
            </div>
          </div>
        </div>

        <div class="experts__slider-btns">
          <button class="experts__prev-btn">
            <svg class="experts__svg-arrow" width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.292893 7.18547C-0.097631 7.576 -0.0976312 8.20916 0.292893 8.59968L6.65685 14.9636C7.04738 15.3542 7.68054 15.3542 8.07107 14.9636C8.46159 14.5731 8.46159 13.94 8.07107 13.5494L2.41421 7.89258L8.07107 2.23573C8.46159 1.8452 8.46159 1.21204 8.07107 0.821512C7.68055 0.430988 7.04738 0.430987 6.65686 0.821512L0.292893 7.18547ZM2 6.89258L1 6.89258L1 8.89258L2 8.89258L2 6.89258Z" fill="white"/>
            </svg>
            <svg class="experts__svg-arrow-long" width="155" height="16" viewBox="0 0 155 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.292892 7.29289C-0.0976257 7.68342 -0.0976257 8.31658 0.292892 8.70711L6.65686 15.0711C7.04738 15.4616 7.68054 15.4616 8.07108 15.0711C8.46159 14.6805 8.46159 14.0474 8.07108 13.6569L2.41422 8L8.07108 2.34315C8.46159 1.95262 8.46159 1.31946 8.07108 0.928932C7.68054 0.538408 7.04738 0.538408 6.65686 0.928932L0.292892 7.29289ZM155 7H1V9H155V7Z" fill="#B1B1B1"/>
            </svg>
          </button>
          <button class="experts__next-btn">
            <svg class="experts__svg-arrow" width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.70711 8.59969C9.09763 8.20916 9.09763 7.576 8.70711 7.18547L2.34315 0.821509C1.95262 0.430985 1.31946 0.430985 0.928933 0.821509C0.538409 1.21203 0.538409 1.8452 0.928933 2.23572L6.58579 7.89258L0.928931 13.5494C0.538407 13.94 0.538407 14.5731 0.928931 14.9636C1.31946 15.3542 1.95262 15.3542 2.34314 14.9636L8.70711 8.59969ZM7 8.89258L8 8.89258L8 6.89258L7 6.89258L7 8.89258Z" fill="white"/>
            </svg>
            <svg class="experts__svg-arrow-long" width="155" height="16" viewBox="0 0 155 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M154.707 8.70711C155.098 8.31658 155.098 7.68342 154.707 7.29289L148.343 0.928932C147.953 0.538408 147.319 0.538408 146.929 0.928932C146.538 1.31946 146.538 1.95262 146.929 2.34315L152.586 8L146.929 13.6569C146.538 14.0474 146.538 14.6805 146.929 15.0711C147.319 15.4616 147.953 15.4616 148.343 15.0711L154.707 8.70711ZM0 9H154V7H0V9Z" fill="#B1B1B1"/>
            </svg>


          </button>
        </div>
      </div>
    </div>
  </div>
</section>