
<footer class="footer">
    <div class="footer__empty-line"></div>
    <div class="footer__content-wrapper">
        <div class="content">

            <div class="footer__row">
                <div class="footer__l-content">
                    <a href="#" class="logo nav__bar-item">
                        <p class="logo__wrapper">
                            <span class="logo__txt">INNOMA</span>
                            <span class="logo__txt logo__txt-blue">.VC</span>
                        </p>
                    </a>
                    <p class="footer__rights">
                        Все права защищены
                    </p>
                </div>
                <ul class="footer__list">
                    <li class="footer__item"><a href="" class="footer__link">Кто мы?</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Услуги</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Акселератор</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Новости</a></li>
                </ul>
                <div class="footer__contacts">
                    <p class="footer__address">
                        Dubai, Single Business Tower 1503, Business Bay
                    </p>
                    <p class="footer__email">
                        Sales@innoma.vc
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>