<header class="header">
    <div class="content">
        <nav class="nav">
            <a href="#" class="logo nav__bar-item">
                <p class="logo__wrapper">
                    <span class="logo__txt">INNOMA</span>
                    <span class="logo__txt logo__txt-blue">.VC</span>
                </p>
            </a>
            <div class="nav__menu nav__bar-item">

                <ul class="nav__menu-list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Кто мы</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Услуги</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Акселератор</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Новости</a>
                    </li>
                </ul>
            </div>
            <div class="nav__login-wrapper nav__bar-item">

                    <button class="nav__login">Войти</button>
                    <div class="hamburger">
                        <span class="hamburger__bar"></span>
                        <span class="hamburger__bar"></span>
                        <span class="hamburger__bar"></span>
                        <span class="hamburger__bar"></span>
                    </div>

            </div>
        </nav>
        <div class="hero">
            <div class="hero__row">
                <h1 class="hero__title">
                    Запустите<br/>
                    <span class="hero__title-green">технологический</span><span class="hero__title-green">IT-бизнес</span><br/>
                    на международных рынках
                </h1>
                <p class="hero__nearest-start">Старт ближайшего акселератора
                    <span class="hero__date">15.12.2023</span>
                </p>
                <p class="hero__desc">Открыт набор заявок на акселератор</p>
                <a href="" class="hero__btn"><span>Подать заявку</span></a>
            </div>
        </div>
    </div>
</header>