<section class="innoma">
  <div class="content">
    <div class="innoma__row">
      <h2 class="innoma__title">Кто мы?</h2>
      <div class="innoma__cards">
        <div class="innoma__card">
          <div class="innoma__img-wrapper">
            <img src="img/innoma-charts.png" alt="Charts" class="innoma-img">
          </div>
          <div class="innoma__txt">
            <p class="innoma__paragraph">
              <a href="#" class="innoma__link">INNOMA.VC</a>
              <a href="#" class="innoma__link innoma__link-sm">Иннома</a>
              - Международное аналитическое агентство по запуску IT
              бизнеса на локальных рынках регионов Азии, Ближнего Востока, Латинской Америки, Африки.
            </p>
            <p class="innoma__paragraph">
              Наша команда состоит из профессионалов своего дела и основной нашей целью является помощь IT компаниям
              получить необходимые знания и пакеты документов, чтобы успешно запустить свой продукт на международных
              рынках.
            </p>
          </div>
        </div>
        <div class="innoma__person">
          <div class="innoma__img-person-wrapper">
            <img src="img/innoma-roman.png" alt="Roman's photo" class="innoma-img">
          </div>
          <div class="innoma__person-txt">
            <p class="innoma__person-paragraph">
              Всем привет!<br/> Меня зовут Роман. Последние 6 лет я являюсь частью
              инновационной экосистемы СНГ,  прошел путь от проектного
              менеджера до руководителя продукта по автоматизированному скаутингу и скорингу стартапов. За 6 лет работы
              я увидел  множество ошибок и отсутствие ориентации акселерационных программ под запросы стартапов. Все
              акселераторы выполнялись ради акселераторв и выполнения КПЭ.
            </p>
            <p class="innoma__person-paragraph innoma__person-paragraph--name">
              <span class="innoma__txt-bold">Роман Гайн</span>
              <span>Основатель INNOMA.VC</span>
            </p>
          </div>
        </div>
      </div>
        <div class="innoma__slider">
          <div class="innoma__slide">
           <!-- <div class="innoma__slide-wrapper">-->
              <img src="img/innoma-1.jpg" alt="Presentation" class="innoma__slide-img">
            <!--</div>-->
          </div>
          <div class="innoma__slide">
                <img src="img/innoma-2.jpg" alt="Presentation" class="innoma__slide-img">
          </div>
          <div class="innoma__slide">
              <img src="img/innoma-3.jpg" alt="Presentation" class="innoma__slide-img">
          </div>
          <div class="innoma__slide">
              <img src="img/innoma-4.jpg" alt="Presentation" class="innoma__slide-img">
          </div>
          <div class="innoma__slide">
              <img src="img/innoma-5.jpg" alt="Presentation" class="innoma__slide-img">
          </div>
        </div>

    </div>
  </div>
</section>