<section class="join">
    <div class="content">
        <div class="join__row">
            <h2 class="join__title">
                Мы создаем международное сообщество экспертов и партнеров
            </h2>
            <p class="join__desc">
                Если вы или ваш бизнес может быть полезен IT командам при выходе на международные рынки, приглашем вас
                стать нашим партнером
            </p>
            <a href="#" class="join__btn">Стать партнером</a>
        </div>
    </div>
</section>