<section class="partners">
    <div class="partners__bg-img-container">
        <div class="partners__bg-img-wrapper">
            <img src="img/partner-bg-1.png" alt="Background tracery" class="partners__bg-img">
        </div>
        <div class="partners__bg-img-wrapper">
            <img src="img/partner-bg-1.png" alt="Background tracery" class="partners__bg-img">
        </div>
        <div class="partners__bg-img-wrapper">
            <img src="img/partner-bg-1.png" alt="Background tracery" class="partners__bg-img">
        </div>
    </div>
    <div class="content">
        <div class="partners__row">
            <div class="partners__left-col">
                <h2 class="partners__title">Попадите на радары инвесторов и партнеров</h2>
                <p class="partners__desc">В результате прохождения обучения мы создадим профили вашей компании на всех
                    международных скаутинговых площадках</p>
                <a href="#" class="partners__btn">Записаться в акселератор</a>
            </div>
            <div class="partners__right-col">
                <div class="partners__cards">
                    <div class="partners__card">
                        <img src="img/partner-card1.jpg" alt="Pitch book logo" class="partner__card-img">
                    </div>
                    <div class="partners__card">
                        <img src="img/partner-card2.jpg" alt="Crunch base logo" class="partner__card-img">
                    </div>
                    <div class="partners__card">
                        <img src="img/partner-card3.jpg" alt="Deal room logo" class="partner__card-img">
                    </div>
                    <div class="partners__card">
                        <img src="img/partner-card4.jpg" alt="Vadar logo" class="partner__card-img">
                    </div>
                    <div class="partners__card">
                        <img src="img/partner-card5.jpg" alt="F6S logo" class="partner__card-img">
                    </div>
                    <div class="partners__card">
                        <img src="img/partner-card6.jpg" alt="Angel list logo" class="partner__card-img">
                    </div>
                </div>
                <div class="partners__dots-wrapper">
                    <img src="img/partner-dots.png" alt="Blue dots" class="partners__dots-img">
                </div>
            </div>
        </div>
    </div>
</section>