<section class="price">
    <div class="content">
        <div class="price__row">
            <h2 class="price__title">Стоимость</h2>
            <div class="price__cards">
                <div class="price__card">
                    <div class="price__card-header">
                        <div class="price__svg-wrapper">
                            <svg width="67" height="76" viewBox="0 0 67 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M31.7378 38.0148C30.8654 35.6398 30.8828 31.0531 31.3888 31.0531C32.8544 31.0531 32.7148 36.5305 31.7378 38.0148ZM31.4411 45.0211C30.0977 48.0195 28.4227 51.4484 26.4859 54.3281C29.6789 53.2891 33.2906 51.775 37.4607 51.0773C35.2448 49.6523 33.1161 47.6039 31.4411 45.0211ZM15.0227 63.5461C15.0227 63.6648 17.3258 62.7445 21.112 57.5789C19.943 58.5141 16.0346 61.2156 15.0227 63.5461ZM43.2708 23.75H67V72.4375C67 74.4117 65.1331 76 62.8125 76H4.1875C1.86693 76 0 74.4117 0 72.4375V3.5625C0 1.58828 1.86693 0 4.1875 0H39.0833V20.1875C39.0833 22.1469 40.9677 23.75 43.2708 23.75ZM41.875 49.2516C38.3854 47.4406 36.0648 44.9469 34.4247 41.2656C35.2099 38.5195 36.4487 34.3484 35.5065 31.7359C34.6865 27.3719 28.1086 27.8023 27.1664 30.7266C26.294 33.443 27.0966 37.2727 28.5797 42.1562C26.5557 46.2531 23.5721 51.7453 21.4609 54.8922C21.4435 54.8922 21.4435 54.907 21.426 54.907C16.6977 56.9703 8.58438 61.5125 11.9169 65.0008C12.894 66.025 14.7086 66.4852 15.6682 66.4852C18.7914 66.4852 21.8971 63.8133 26.3289 57.3117C30.8305 56.05 35.7682 54.4766 40.1128 53.868C43.899 55.6195 48.3307 56.7625 51.2794 56.7625C56.3742 56.7625 56.7232 52.0125 54.7167 50.3203C52.2914 48.3016 45.2424 48.8805 41.875 49.2516ZM65.7786 15.5859L48.6797 1.03906C47.8945 0.371094 46.8302 0 45.7135 0H44.6667V19H67V18.0945C67 17.1594 66.5638 16.2539 65.7786 15.5859ZM52.8497 53.482C53.5651 53.0812 52.4135 51.7156 45.382 52.1461C51.8552 54.4914 52.8497 53.482 52.8497 53.482Z" fill="url(#paint0_linear_1_3451)"/>
                                <defs>
                                    <linearGradient id="paint0_linear_1_3451" x1="33.5" y1="2.34332e-06" x2="102.626" y2="82.9996" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#8BD7DC"/>
                                        <stop offset="1" stop-color="#1246A9"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <p class="price__card-title">Анализ международных<br/> рынков </p>

                    </div>
                    <div class="price__card-body">
                        <p class="price__subtitle price__subtitle--question">Что входит в отчет?</p>
                        <ol class="price__list">
                            <li class="price__item">Анализ конкурентов</li>
                            <li class="price__item">Анализ инвесторов</li>
                            <li class="price__item">Размеры рынка (TAM,SAM,SOM)</li>
                            <li class="price__item">Анализ СМИ</li>
                            <li class="price__item">Анализ запрос в сети интернет</li>
                        </ol>
                    </div>
                    <div class="price__card-footer">
                        <div class="price__card-f-row">
                            <p class="price__subtitle">Готовность</p>
                            <p class="price__value">7 раб. дней</p>
                        </div>
                        <div class="price__card-f-row">
                            <p class="price__subtitle">Язык</p>
                            <p class="price__value">рус. / англ.</p>
                        </div>
                        <div class="price__card-f-row">
                            <p class="price__subtitle">Стоимость</p>
                            <p class="price__value price__value--blue">$1 000 </p>
                        </div>
                    </div>
                    <div class="price__btn-wrapper">
                        <button class="price__btn">Оставить заявку</button>
                    </div>
                </div>
                <div class="price__card">
                    <div class="price__card-header">
                        <div class="price__svg-wrapper">
                            <svg width="102" height="76" viewBox="0 0 102 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M81.6242 28.4307L80.3172 30.5605C79.839 31.3499 78.8189 31.6775 77.9104 31.3648C76.0297 30.7094 74.3083 29.7711 72.7941 28.5945C72.0609 28.0285 71.8696 27.0306 72.3478 26.2561L73.6548 24.1263C72.555 22.9348 71.6943 21.5497 71.1205 20.0454H68.4906C67.5343 20.0454 66.7054 19.4049 66.5461 18.5113C66.2273 16.724 66.2113 14.8474 66.5461 12.9857C66.7054 12.092 67.5343 11.4367 68.4906 11.4367H71.1205C71.6943 9.9324 72.555 8.54727 73.6548 7.35575L72.3478 5.22592C71.8696 4.45144 72.045 3.45355 72.7941 2.88758C74.3083 1.71096 76.0456 0.77264 77.9104 0.117307C78.8189 -0.195465 79.839 0.132201 80.3172 0.921579L81.6242 3.05141C83.2978 2.76843 85.0032 2.76843 86.6768 3.05141L87.9838 0.921579C88.4619 0.132201 89.482 -0.195465 90.3905 0.117307C92.2713 0.77264 93.9927 1.71096 95.5069 2.88758C96.2401 3.45355 96.4313 4.45144 95.9532 5.22592L94.6462 7.35575C95.746 8.54727 96.6067 9.9324 97.1805 11.4367H99.8104C100.767 11.4367 101.596 12.0771 101.755 12.9708C102.074 14.758 102.09 16.6347 101.755 18.4964C101.596 19.39 100.767 20.0454 99.8104 20.0454H97.1805C96.6067 21.5497 95.746 22.9348 94.6462 24.1263L95.9532 26.2561C96.4313 27.0306 96.256 28.0285 95.5069 28.5945C93.9927 29.7711 92.2554 30.7094 90.3905 31.3648C89.482 31.6775 88.4619 31.3499 87.9838 30.5605L86.6768 28.4307C85.0191 28.7136 83.2978 28.7136 81.6242 28.4307ZM79.9506 19.673C86.0871 24.0816 93.0842 17.5432 88.3663 11.809C82.2299 7.38554 75.2327 13.9389 79.9506 19.673ZM61.5731 42.5948L66.9445 45.097C68.5544 45.9608 69.2557 47.7928 68.6181 49.4311C67.1995 53.0354 64.4103 56.3419 61.8282 59.2313C60.6487 60.5568 58.6085 60.8845 56.9987 60.0207L52.3605 57.5185C49.8103 59.5589 46.8457 61.1824 43.6101 62.2399V67.2442C43.6101 68.9719 42.2872 70.4613 40.4701 70.7592C36.5492 71.3847 32.437 71.4145 28.3726 70.7592C26.5396 70.4613 25.1848 68.9868 25.1848 67.2442V62.2399C21.9492 61.1675 18.9846 59.5589 16.4344 57.5185L11.7962 60.0058C10.2023 60.8696 8.14623 60.542 6.96676 59.2164C4.38467 56.327 1.65913 53.0205 0.240579 49.4311C-0.396974 47.8076 0.304334 45.9757 1.91415 45.097L7.22178 42.5948C6.60017 39.4819 6.60017 36.2798 7.22178 33.152L1.91415 30.635C0.304334 29.7711 -0.412913 27.9392 0.240579 26.3157C1.65913 22.7114 4.38467 19.4049 6.96676 16.5155C8.14623 15.19 10.1864 14.8623 11.7962 15.7261L16.4344 18.2283C18.9846 16.1878 21.9492 14.5644 25.1848 13.5069V8.48769C25.1848 6.77489 26.4918 5.2855 28.3088 4.98762C32.2298 4.36207 36.3579 4.33229 40.4223 4.97273C42.2553 5.2706 43.6101 6.7451 43.6101 8.48769V13.492C46.8457 14.5644 49.8103 16.173 52.3605 18.2134L56.9987 15.7112C58.5926 14.8474 60.6487 15.1751 61.8282 16.5006C64.4103 19.39 67.1199 22.6965 68.5384 26.3008C69.176 27.9243 68.5544 29.7562 66.9445 30.635L61.5731 33.1371C62.1948 36.2649 62.1948 39.467 61.5731 42.5948ZM42.8291 45.7374C52.2649 34.2691 38.2547 21.1773 25.9818 29.9945C16.546 41.4628 30.5562 54.5546 42.8291 45.7374ZM81.6242 72.9486L80.3172 75.0784C79.839 75.8678 78.8189 76.1955 77.9104 75.8827C76.0297 75.2274 74.3083 74.289 72.7941 73.1124C72.0609 72.5464 71.8696 71.5486 72.3478 70.7741L73.6548 68.6442C72.555 67.4527 71.6943 66.0676 71.1205 64.5633H68.4906C67.5343 64.5633 66.7054 63.9229 66.5461 63.0292C66.2273 61.242 66.2113 59.3653 66.5461 57.5036C66.7054 56.61 67.5343 55.9546 68.4906 55.9546H71.1205C71.6943 54.4503 72.555 53.0652 73.6548 51.8737L72.3478 49.7439C71.8696 48.9694 72.045 47.9715 72.7941 47.4055C74.3083 46.2289 76.0456 45.2906 77.9104 44.6352C78.8189 44.3225 79.839 44.6501 80.3172 45.4395L81.6242 47.5693C83.2978 47.2864 85.0032 47.2864 86.6768 47.5693L87.9838 45.4395C88.4619 44.6501 89.482 44.3225 90.3905 44.6352C92.2713 45.2906 93.9927 46.2289 95.5069 47.4055C96.2401 47.9715 96.4313 48.9694 95.9532 49.7439L94.6462 51.8737C95.746 53.0652 96.6067 54.4503 97.1805 55.9546H99.8104C100.767 55.9546 101.596 56.5951 101.755 57.4887C102.074 59.276 102.09 61.1526 101.755 63.0143C101.596 63.908 100.767 64.5633 99.8104 64.5633H97.1805C96.6067 66.0676 95.746 67.4527 94.6462 68.6442L95.9532 70.7741C96.4313 71.5486 96.256 72.5464 95.5069 73.1124C93.9927 74.289 92.2554 75.2274 90.3905 75.8827C89.482 76.1955 88.4619 75.8678 87.9838 75.0784L86.6768 72.9486C85.0191 73.2316 83.2978 73.2316 81.6242 72.9486ZM79.9506 64.1761C86.0871 68.5847 93.0842 62.0462 88.3663 56.3121C82.2299 51.9035 75.2327 58.4419 79.9506 64.1761Z" fill="url(#paint0_linear_1_3454)"/>
                                <defs>
                                    <linearGradient id="paint0_linear_1_3454" x1="51" y1="2.34332e-06" x2="110.188" y2="108.192" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#8BD7DC"/>
                                        <stop offset="1" stop-color="#1246A9"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <p class="price__card-title">Упаковка стартапа<br/> под локальные рынки </p>
                    </div>
                    <div class="price__card-body">
                        <p class="price__subtitle price__subtitle--question">Что входит в услугу?</p>
                        <ol class="price__list">
                            <li class="price__item">Анализ локальных рынков</li>
                            <li class="price__item">Бизнес план </li>
                            <li class="price__item">Питч презентация</li>
                            <li class="price__item">Финансовый план </li>
                            <li class="price__item">Расчет юнит экономики</li>
                            <li class="price__item">Проведение каст дева </li>
                        </ol>
                    </div>
                    <div class="price__card-footer">
                        <div class="price__card-f-row">
                            <p class="price__subtitle">Готовность</p>
                            <p class="price__value">7 раб. дней</p>
                        </div>
                        <div class="price__card-f-row">
                            <p class="price__subtitle">Язык</p>
                            <p class="price__value">рус. / англ.</p>
                        </div>
                        <div class="price__card-f-row">
                            <p class="price__subtitle">Стоимость</p>
                            <p class="price__value price__value--blue">$1 000 </p>
                        </div>
                    </div>
                    <div class="price__btn-wrapper">
                        <button class="price__btn">Оставить заявку</button>
                    </div>
                </div>
                <div class="price__card">
                    <div class="price__card-header">
                        <div class="price__svg-wrapper">
                            <svg width="80" height="71" viewBox="0 0 80 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M78.9262 2.6486C78.8258 2.23362 78.5924 1.85322 78.2542 1.5531C77.9159 1.25298 77.4872 1.04593 77.0195 0.956822C71.9869 0 68.0499 0 64.1269 0C47.9976 0 38.3231 7.65458 31.104 17.7498H14.8184C13.4276 17.7508 12.0644 18.0949 10.8812 18.7435C9.69806 19.3922 8.74142 20.3199 8.11815 21.4231L0.3942 35.1237C0.108956 35.6312 -0.0253771 36.195 0.00395089 36.7616C0.0332788 37.3281 0.225295 37.8786 0.561775 38.3608C0.898255 38.843 1.36804 39.2409 1.92653 39.5167C2.48503 39.7926 3.11371 39.9372 3.75291 39.9369H19.9713L16.4595 43.0529C15.5218 43.885 14.995 45.0135 14.995 46.1903C14.995 47.367 15.5218 48.4955 16.4595 49.3277L24.4147 56.3874C24.8791 56.7995 25.4305 57.1265 26.0374 57.3495C26.6443 57.5726 27.2947 57.6874 27.9516 57.6874C28.6085 57.6874 29.2589 57.5726 29.8658 57.3495C30.4727 57.1265 31.0241 56.7995 31.4885 56.3874L35.0004 53.2714V67.6709C35.0002 68.2379 35.1632 68.7955 35.474 69.2908C35.7849 69.7862 36.2332 70.2028 36.7764 70.5013C37.3197 70.7998 37.9399 70.9703 38.5782 70.9965C39.2165 71.0226 39.8517 70.9037 40.4237 70.6509L55.8497 63.802C57.0951 63.2501 58.1424 62.401 58.874 61.3501C59.6057 60.2993 59.9926 59.0883 59.9915 57.8531V43.3746C71.3367 36.9541 79.9968 28.3427 79.9968 14.1027C80.0125 10.6082 80.0125 7.11377 78.9262 2.6486ZM60.0071 23.2965C58.7706 23.2965 57.5619 22.9712 56.5338 22.3617C55.5058 21.7523 54.7045 20.886 54.2313 19.8724C53.7581 18.8589 53.6343 17.7436 53.8755 16.6676C54.1168 15.5917 54.7122 14.6033 55.5865 13.8276C56.4608 13.0518 57.5747 12.5236 58.7874 12.3095C60.0001 12.0955 61.2572 12.2054 62.3995 12.6252C63.5418 13.045 64.5182 13.7559 65.2052 14.6681C65.8921 15.5803 66.2588 16.6527 66.2588 17.7498C66.2588 19.2209 65.6001 20.6317 64.4277 21.6719C63.2553 22.7122 61.6651 23.2965 60.0071 23.2965Z" fill="url(#paint0_linear_1_3457)"/>
                                <defs>
                                    <linearGradient id="paint0_linear_1_3457" x1="40" y1="2.18915e-06" x2="100.068" y2="92.1818" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#8BD7DC"/>
                                        <stop offset="1" stop-color="#1246A9"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <p class="price__card-title">Акселератор вашего<br/> бизнеса</p>

                    </div>
                    <div class="price__card-body">
                        <p class="price__subtitle price__subtitle--question">Что входит в акселератор?</p>
                        <ol class="price__list">
                            <li class="price__item">Онлайн доступ к курсам</li>
                            <li class="price__item">Документы для бизнеса</li>
                            <li class="price__item">Питч презентация</li>
                            <li class="price__item">Демо день </li>
                            <li class="price__item">Продвижение по результатам </li>
                        </ol>
                    </div>
                    <div class="price__card-footer">
                        <div class="price__card-f-row">
                            <p class="price__subtitle">Готовность</p>
                            <p class="price__value">7 раб. дней</p>
                        </div>
                        <div class="price__card-f-row">
                            <p class="price__subtitle">Язык</p>
                            <p class="price__value">рус. / англ.</p>
                        </div>
                        <div class="price__card-f-row">
                            <p class="price__subtitle">Стоимость</p>
                            <p class="price__value price__value--blue">$1 000 </p>
                        </div>
                    </div>
                    <div class="price__btn-wrapper">
                        <button class="price__btn">Оставить заявку</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>