 <section class="program">
     <div class="content">
         <div class="program__row">
             <h2 class="program__title">Программа акселератора</h2>
             <div class="accordion">
                 <div class="accordion__item">
                     <button class="accordion__header">
                         <a href="" class="accordion__btn-link">Модуль 1</a>
                         <p class="accordion__btn-desc">Тенденции и тренды современного мира</p>
                         <p class="accordion__module-duration">4 Недели</p>
                         <div class="accordion__btn-circle">
                             <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M7.29289 8.70711C7.68341 9.09763 8.31657 9.09763 8.7071 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928933C14.6805 0.538409 14.0474 0.538409 13.6568 0.928933L7.99999 6.58579L2.34314 0.928932C1.95261 0.538407 1.31945 0.538407 0.928925 0.928931C0.538401 1.31946 0.538401 1.95262 0.928925 2.34314L7.29289 8.70711ZM6.99999 7L6.99999 8L8.99999 8L8.99999 7L6.99999 7Z" fill="white"/>
                             </svg>
                         </div>
                     </button>
                     <div class="accordion__body">
                         <p class="accordion__paragraph">
                             Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний.
                         </p>
                         <p class="accordion__paragraph">
                             Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
                         </p>
                         <p class="accordion__paragraph">
                             3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
                         </p>
                         <p class="accordion__paragraph">
                             <a href="" class="accordion__paragraph-link">
                                 9 видео роликов, вебинар с приглашенным экспертом
                             </a>
                         </p>
                     </div>
                 </div>
                 <div class="accordion__item">
                     <button class="accordion__header">
                         <a href="" class="accordion__btn-link">Модуль 2</a>
                         <p class="accordion__btn-desc">Стартап подход к созданию международного IT продукта</p>
                         <p class="accordion__module-duration">4 Недели</p>
                         <div class="accordion__btn-circle">
                             <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M7.29289 8.70711C7.68341 9.09763 8.31657 9.09763 8.7071 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928933C14.6805 0.538409 14.0474 0.538409 13.6568 0.928933L7.99999 6.58579L2.34314 0.928932C1.95261 0.538407 1.31945 0.538407 0.928925 0.928931C0.538401 1.31946 0.538401 1.95262 0.928925 2.34314L7.29289 8.70711ZM6.99999 7L6.99999 8L8.99999 8L8.99999 7L6.99999 7Z" fill="white"/>
                             </svg>
                         </div>
                     </button>
                     <div class="accordion__body">
                         <p class="accordion__paragraph">
                             Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний.
                         </p>
                         <p class="accordion__paragraph">
                             Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
                         </p>
                         <p class="accordion__paragraph">
                             3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
                         </p>
                         <p class="accordion__paragraph">
                             <a href="" class="accordion__paragraph-link">
                                 9 видео роликов, вебинар с приглашенным экспертом
                             </a>
                         </p>
                     </div>
                 </div>
                 <div class="accordion__item">
                     <button class="accordion__header">
                         <a href="" class="accordion__btn-link">Модуль 3</a>
                         <p class="accordion__btn-desc">Бизнес моделирование и поиск Product Market Fit</p>
                         <p class="accordion__module-duration">4 Недели</p>
                         <div class="accordion__btn-circle">
                             <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M7.29289 8.70711C7.68341 9.09763 8.31657 9.09763 8.7071 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928933C14.6805 0.538409 14.0474 0.538409 13.6568 0.928933L7.99999 6.58579L2.34314 0.928932C1.95261 0.538407 1.31945 0.538407 0.928925 0.928931C0.538401 1.31946 0.538401 1.95262 0.928925 2.34314L7.29289 8.70711ZM6.99999 7L6.99999 8L8.99999 8L8.99999 7L6.99999 7Z" fill="white"/>
                             </svg>
                         </div>
                     </button>
                     <div class="accordion__body">
                         <p class="accordion__paragraph">
                             Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний.
                         </p>
                         <p class="accordion__paragraph">
                             Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
                         </p>
                         <p class="accordion__paragraph">
                             3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
                         </p>
                         <p class="accordion__paragraph">
                             <a href="" class="accordion__paragraph-link">
                                 9 видео роликов, вебинар с приглашенным экспертом
                             </a>
                         </p>
                     </div>
                 </div>
                 <div class="accordion__item">
                     <button class="accordion__header">
                         <a href="" class="accordion__btn-link">Модуль 4</a>
                         <p class="accordion__btn-desc">Определение рынка, поиск и исследование Целевой аудитории</p>
                         <p class="accordion__module-duration">4 Недели</p>
                         <div class="accordion__btn-circle">
                             <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M7.29289 8.70711C7.68341 9.09763 8.31657 9.09763 8.7071 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928933C14.6805 0.538409 14.0474 0.538409 13.6568 0.928933L7.99999 6.58579L2.34314 0.928932C1.95261 0.538407 1.31945 0.538407 0.928925 0.928931C0.538401 1.31946 0.538401 1.95262 0.928925 2.34314L7.29289 8.70711ZM6.99999 7L6.99999 8L8.99999 8L8.99999 7L6.99999 7Z" fill="white"/>
                             </svg>
                         </div>
                     </button>
                     <div class="accordion__body">
                         <p class="accordion__paragraph">
                             Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний.
                         </p>
                         <p class="accordion__paragraph">
                             Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
                         </p>
                         <p class="accordion__paragraph">
                             3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
                         </p>
                         <p class="accordion__paragraph">
                             <a href="" class="accordion__paragraph-link">
                                 9 видео роликов, вебинар с приглашенным экспертом
                             </a>
                         </p>
                     </div>
                 </div>
                 <div class="accordion__item">
                     <button class="accordion__header">
                         <a href="" class="accordion__btn-link">Модуль 5</a>
                         <p class="accordion__btn-desc">Что такое MVP и почему это важно</p>
                         <p class="accordion__module-duration">4 Недели</p>
                         <div class="accordion__btn-circle">
                             <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M7.29289 8.70711C7.68341 9.09763 8.31657 9.09763 8.7071 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928933C14.6805 0.538409 14.0474 0.538409 13.6568 0.928933L7.99999 6.58579L2.34314 0.928932C1.95261 0.538407 1.31945 0.538407 0.928925 0.928931C0.538401 1.31946 0.538401 1.95262 0.928925 2.34314L7.29289 8.70711ZM6.99999 7L6.99999 8L8.99999 8L8.99999 7L6.99999 7Z" fill="white"/>
                             </svg>
                         </div>
                     </button>
                     <div class="accordion__body">
                         <p class="accordion__paragraph">
                             Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний.
                         </p>
                         <p class="accordion__paragraph">
                             Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
                         </p>
                         <p class="accordion__paragraph">
                             3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
                         </p>
                         <p class="accordion__paragraph">
                             <a href="" class="accordion__paragraph-link">
                                 9 видео роликов, вебинар с приглашенным экспертом
                             </a>
                         </p>
                     </div>
                 </div>
                 <div class="accordion__item">
                     <button class="accordion__header">
                         <a href="" class="accordion__btn-link">Модуль 6</a>
                         <p class="accordion__btn-desc">Unit экономика и финансовое моделирование</p>
                         <p class="accordion__module-duration">4 Недели</p>
                         <div class="accordion__btn-circle">
                             <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M7.29289 8.70711C7.68341 9.09763 8.31657 9.09763 8.7071 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928933C14.6805 0.538409 14.0474 0.538409 13.6568 0.928933L7.99999 6.58579L2.34314 0.928932C1.95261 0.538407 1.31945 0.538407 0.928925 0.928931C0.538401 1.31946 0.538401 1.95262 0.928925 2.34314L7.29289 8.70711ZM6.99999 7L6.99999 8L8.99999 8L8.99999 7L6.99999 7Z" fill="white"/>
                             </svg>
                         </div>
                     </button>
                     <div class="accordion__body">
                         <p class="accordion__paragraph">
                             Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний.
                         </p>
                         <p class="accordion__paragraph">
                             Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
                         </p>
                         <p class="accordion__paragraph">
                             3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
                         </p>
                         <p class="accordion__paragraph">
                             <a href="" class="accordion__paragraph-link">
                                 9 видео роликов, вебинар с приглашенным экспертом
                             </a>
                         </p>
                     </div>
                 </div>
                 <div class="accordion__item">
                     <button class="accordion__header">
                         <a href="" class="accordion__btn-link">Модуль 7</a>
                         <p class="accordion__btn-desc">Что такое дорожная карта продукта?</p>
                         <p class="accordion__module-duration">4 Недели</p>
                         <div class="accordion__btn-circle">
                             <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M7.29289 8.70711C7.68341 9.09763 8.31657 9.09763 8.7071 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928933C14.6805 0.538409 14.0474 0.538409 13.6568 0.928933L7.99999 6.58579L2.34314 0.928932C1.95261 0.538407 1.31945 0.538407 0.928925 0.928931C0.538401 1.31946 0.538401 1.95262 0.928925 2.34314L7.29289 8.70711ZM6.99999 7L6.99999 8L8.99999 8L8.99999 7L6.99999 7Z" fill="white"/>
                             </svg>
                         </div>
                     </button>
                     <div class="accordion__body">
                         <p class="accordion__paragraph">
                             Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний.
                         </p>
                         <p class="accordion__paragraph">
                             Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
                         </p>
                         <p class="accordion__paragraph">
                             3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
                         </p>
                         <p class="accordion__paragraph">
                             <a href="" class="accordion__paragraph-link">
                                 9 видео роликов, вебинар с приглашенным экспертом
                             </a>
                         </p>
                     </div>
                 </div>
                 <div class="accordion__item">
                     <button class="accordion__header">
                         <a href="" class="accordion__btn-link">Модуль 8</a>
                         <p class="accordion__btn-desc">Документы дя международных инвесторов</p>
                         <p class="accordion__module-duration">4 Недели</p>
                         <div class="accordion__btn-circle">
                             <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M7.29289 8.70711C7.68341 9.09763 8.31657 9.09763 8.7071 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928933C14.6805 0.538409 14.0474 0.538409 13.6568 0.928933L7.99999 6.58579L2.34314 0.928932C1.95261 0.538407 1.31945 0.538407 0.928925 0.928931C0.538401 1.31946 0.538401 1.95262 0.928925 2.34314L7.29289 8.70711ZM6.99999 7L6.99999 8L8.99999 8L8.99999 7L6.99999 7Z" fill="white"/>
                             </svg>
                         </div>
                     </button>
                     <div class="accordion__body">
                         <p class="accordion__paragraph">
                             Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний.
                         </p>
                         <p class="accordion__paragraph">
                             Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
                         </p>
                         <p class="accordion__paragraph">
                             3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
                         </p>
                         <p class="accordion__paragraph">
                             <a href="" class="accordion__paragraph-link">
                                 9 видео роликов, вебинар с приглашенным экспертом
                             </a>
                         </p>
                     </div>
                 </div>
                 <div class="accordion__item">
                     <button class="accordion__header">
                         <a href="" class="accordion__btn-link">Модуль 9</a>
                         <p class="accordion__btn-desc">Открытие юридического лица. Возможности для стартапов</p>
                         <p class="accordion__module-duration">4 Недели</p>
                         <div class="accordion__btn-circle">
                             <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M7.29289 8.70711C7.68341 9.09763 8.31657 9.09763 8.7071 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928933C14.6805 0.538409 14.0474 0.538409 13.6568 0.928933L7.99999 6.58579L2.34314 0.928932C1.95261 0.538407 1.31945 0.538407 0.928925 0.928931C0.538401 1.31946 0.538401 1.95262 0.928925 2.34314L7.29289 8.70711ZM6.99999 7L6.99999 8L8.99999 8L8.99999 7L6.99999 7Z" fill="white"/>
                             </svg>
                         </div>
                     </button>
                     <div class="accordion__body">
                         <p class="accordion__paragraph">
                             Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний.
                         </p>
                         <p class="accordion__paragraph">
                             Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
                         </p>
                         <p class="accordion__paragraph">
                             3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
                         </p>
                         <p class="accordion__paragraph">
                             <a href="" class="accordion__paragraph-link">
                                 9 видео роликов, вебинар с приглашенным экспертом
                             </a>
                         </p>
                     </div>
                 </div>
                 <div class="accordion__item">
                     <button class="accordion__header">
                         <a href="" class="accordion__btn-link">Демо день </a>
                         <p class="accordion__btn-desc"></p>
                         <p class="accordion__module-duration"></p>
                         <div class="accordion__btn-circle">
                             <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M7.29289 8.70711C7.68341 9.09763 8.31657 9.09763 8.7071 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928933C14.6805 0.538409 14.0474 0.538409 13.6568 0.928933L7.99999 6.58579L2.34314 0.928932C1.95261 0.538407 1.31945 0.538407 0.928925 0.928931C0.538401 1.31946 0.538401 1.95262 0.928925 2.34314L7.29289 8.70711ZM6.99999 7L6.99999 8L8.99999 8L8.99999 7L6.99999 7Z" fill="white"/>
                             </svg>
                         </div>
                     </button>
                  <!--   <div class="accordion__body">
                         <p class="accordion__paragraph">
                             Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов консалтинговых компаний.
                         </p>
                         <p class="accordion__paragraph">
                             Тема 2. Рынки Ближнего Востока, Азии, Латинской АмерикиТема
                         </p>
                         <p class="accordion__paragraph">
                             3. Что такое внутренние и внешние инновации? Как искать инновационные идеи?
                         </p>
                         <p class="accordion__paragraph">
                             <a href="" class="accordion__paragraph-link">
                                 9 видео роликов, вебинар с приглашенным экспертом
                             </a>
                         </p>
                     </div>-->
                 </div>

             </div>
             <button class="program__get-full">Получить полную программу</button>
         </div>
     </div>
 </section>