<section class="results">
    <div class="content">
        <div class="results__row">
            <h2 class="results__title">Что вы получите в результате?</h2>
            <div class="results__cards">
                <div class="results__card">
                    <p class="results__card-number">01</p>
                    <p class="results__card-title">Документы по продукту</p>
                    <p class="results__card-desc">
                        Бизнес план, отчет по анализу рынка, маркетинговый план, unit
                        экономика, список гипотез, проект MVP
                    </p>
                </div>

                <div class="results__card">
                    <p class="results__card-number">02</p>
                    <p class="results__card-title">Обратная связь от рынка</p>
                    <p class="results__card-desc">
                        Проведение исследования целевой аудитории позволит сформировать Product market fit
                    </p>
                </div>

                <div class="results__card">
                    <p class="results__card-number">03</p>
                    <p class="results__card-title">Продвижение продукта</p>
                    <p class="results__card-desc">
                        Продвижение продукта через аналитические системы партнеров
                    </p>
                </div>

                <div class="results__card">
                    <p class="results__card-number">04</p>
                    <p class="results__card-title">Подписка на отчеты</p>
                    <p class="results__card-desc">
                        Подписка на аналитические отчеты по международным рынкам высокотехнологичных сфер
                    </p>
                </div>

                <div class="results__card">
                    <p class="results__card-number">05</p>
                    <p class="results__card-title">Подписка на отчеты</p>
                    <p class="results__card-desc">
                        Подписка на аналитические отчеты по международным рынкам высокотехнологичных сфер
                    </p>
                </div>

                <div class="results__card">
                    <p class="results__card-number">06</p>
                    <p class="results__card-title">Подписка на отчеты</p>
                    <p class="results__card-desc">
                        Подписка на аналитические отчеты по международным рынкам высокотехнологичных сфер
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>