<section class="services">
    <div class="content">
        <div class="services__row">
            <h2 class="services__title">Наши услуги</h2>
            <div class="services__cards">
                <div class="services__card">
                    <div class="services__card-txt">
                        <p class="services__card-title">Аналитические исследования</p>
                        <div class="services__card-desc">
                            <p class="services__card-paragraph">
                                Одним из наших ключевых направлений является анализ технологических трендов на
                                международных рынках.
                            </p>
                            <p class="services__card-paragraph">
                                Мы проводим анализ на основе публичных исследований McKinsey, BCG, PWC, Deloitte,
                                Accenture, BCG, EY,  Crunchbase, Dealroom, F6S, PitchBook а также агрегируем и
                                анализируем данные из открытых международных источников патенты, медиа, научные
                                публикации.
                            </p>
                        </div>
                        <a href="" class="services__card-btn">Узнать подробнее</a>
                    </div>
                    <div class="services__img-wrapper">
                        <img src="img/card-1.png" alt="Сharts" class="services__img">
                    </div>
                </div>
                <div class="services__card services__card--bottom">
                    <div class="services__card-txt">
                        <p class="services__card-title">Онлайн акселератор для IT бизнеса</p>
                        <div class="services__card-desc">
                            <p class="services__card-paragraph">
                                Онлайн программа аскелерации IT бизнеса позволит вашей команде открыть новые горизонты и
                                возможности для бизнеса на глобальных рынках. В результате программы вы получите
                                возможность презентовать свой проект для международных инвесторов и локальных партнеров
                            </p>
                        </div>
                        <a href="" class="services__card-btn">Узнать подробнее</a>
                    </div>
                    <div class="services__img-wrapper">
                        <img src="img/card-2.png" alt="Analytics" class="services__img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>