<section class="sponsors">
    <div class="content">
        <div class="sponsors__row">
            <h2 class="sponsors__title">Наши партнеры</h2>
            <div class="sponsors__cards">
                <div class="sponsors__card">
                    <img src="img/sponsor-1.png" alt="Crunch base logo" class="sponsors__img">
                </div>
                <div class="sponsors__card">
                    <img src="img/sponsor-2.png" alt="Deal room logo" class="sponsors__img">
                </div>
                <div class="sponsors__card">
                    <img src="img/sponsor-3.png" alt="HICool logo" class="sponsors__img">
                </div>
                <div class="sponsors__card">
                    <img src="img/sponsor-4.png" alt="Eurasia development logo" class="sponsors__img">
                </div>
                <div class="sponsors__card sponsors__card--dtec">
                    <img src="img/sponsor-5.png" alt="Dtec logo" class="sponsors__img">
                </div>
                <div class="sponsors__card sponsors__card--in5">
                    <img src="img/sponsor-6.png" alt="In5 logo" class="sponsors__img">
                </div>
                <div class="sponsors__card">
                    <img src="img/sponsor-7.png" alt="Rakuten Vantures logo" class="sponsors__img">
                </div>
                <div class="sponsors__card">
                    <img src="img/sponsor-8.png" alt="HUB71 logo" class="sponsors__img">
                </div>

            </div>
        </div>
    </div>
</section>