<section class="trade">
    <div class="content">
        <div class="trade__row">
            <h2 class="trade__title">С какими рынками мы работаем?</h2>
            <div class="tabs">
                <div class="tabs__panel">
                    <button class="tabs__link" onclick="openTab(this, 'tab1');" id="defaultTab">Ближний восток</button>
                    <button class="tabs__link" onclick="openTab(this, 'tab2');">Азия</button>
                    <button class="tabs__link" onclick="openTab(this, 'tab3');">Латинская Америка</button>
                    <button class="tabs__link" onclick="openTab(this, 'tab4');">Африка</button>
                </div>
                <div class="tabs__content-wrapper">
                    <div class="tabs__bg-ing-wrapper">
                        <img src="img/map.png" alt="World map" class="tabs__bg-img">
                    </div>
                <div id="tab1" class="tabs__content">
                    <div class="tabs__col-l">

                        <p class="tabs__title">Чем интересен<br/>
                            <span class="tabs__green-txt">Рынок MENA:</span></p>
                        <p class="tabs__desc">ОАЭ, Саудовская Аравия,
                            Израиль, Оман, Бахрейн, Катар,
                            Тунис, Йемен, Египет, Алжир</p>

                        <button class="tabs__btn">Выйти на рынок</button>
                        <div class="tabs__emp">
                            <div class="tabs__img-wrapper">
                                <img src="img/manager.jpg" alt="Profile picture" class="tabs__img">
                            </div>
                            <div class="tabs__emp-txt">
                                <p class="tabs__emp-name">Фатима</p>
                                <p class="tabs__emp-position">Менеджер по MENA</p>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__col-r">
                        <div class="tabs__card">
                            <p class="tabs__card-title">>5,5 <span class="tabs__title-sm">Млрд</span></p>
                            <p class="tabs__card-desc">Инвестиции pre-seed, seed</p>
                        </div>
                        <div class="tabs__card">
                            <p class="tabs__card-title">>300</p>
                            <p class="tabs__card-desc">Акселераторов, инкубаторов</p>
                        </div>
                        <div class="tabs__card">
                            <p class="tabs__card-title">73</p>
                            <p class="tabs__card-desc">Венчурных фонда</p>
                        </div>
                        <a href="#" class="tabs__card">
                            <p class="tabs__card-title">
                                <svg width="48" height="42" viewBox="0 0 48 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.041 32.7911C23.4315 33.1816 24.0647 33.1816 24.4552 32.7911L30.8192 26.4271C31.2097 26.0366 31.2097 25.4034 30.8192 25.0129C30.4286 24.6224 29.7955 24.6224 29.405 25.0129L23.7481 30.6697L18.0913 25.0129C17.7007 24.6224 17.0676 24.6224 16.677 25.0129C16.2865 25.4034 16.2865 26.0366 16.677 26.4271L23.041 32.7911ZM22.7481 3.81472e-08L22.7481 32.084L24.7481 32.084L24.7481 -3.81476e-08L22.7481 3.81472e-08Z" fill="currentColor"/>
                                    <line x1="46.4962" y1="41" x2="0.999992" y2="41"  stroke-width="2" stroke-linecap="round"/>
                                </svg>
                            </p>
                            <p class="tabs__card-desc">Скачать отчет<br/>
                                по рынку MENA</p>
                        </a>
                    </div>
                    <button class="tabs__btn tabs__btn--bottom">Выйти на рынок</button>
                </div>
                <div id="tab2" class="tabs__content">
                    <div class="tabs__col-l">

                        <p class="tabs__title">Чем интересен<br/>
                            <span class="tabs__green-txt">Рынок MENA:</span>2</p>
                        <p class="tabs__desc">ОАЭ, Саудовская Аравия,
                            Израиль, Оман, Бахрейн, Катар,
                            Тунис, Йемен, Египет, Алжир</p>

                        <button class="tabs__btn">Выйти на рынок</button>
                        <div class="tabs__emp">
                            <div class="tabs__img-wrapper">
                                <img src="img/manager.jpg" alt="Profile picture" class="tabs__img">
                            </div>
                            <div class="tabs__emp-txt">
                                <p class="tabs__emp-name">Фатима</p>
                                <p class="tabs__emp-position">Менеджер по MENA</p>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__col-r">
                        <div class="tabs__card">
                            <p class="tabs__card-title">>5,5 <span class="tabs__title-sm">Млрд</span></p>
                            <p class="tabs__card-desc">Инвестиции pre-seed, seed</p>
                        </div>
                        <div class="tabs__card">
                            <p class="tabs__card-title">>300</p>
                            <p class="tabs__card-desc">Акселераторов, инкубаторов</p>
                        </div>
                        <div class="tabs__card">
                            <p class="tabs__card-title">73</p>
                            <p class="tabs__card-desc">Венчурных фонда</p>
                        </div>
                        <a href="#" class="tabs__card">
                            <p class="tabs__card-title">
                                <svg width="48" height="42" viewBox="0 0 48 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.041 32.7911C23.4315 33.1816 24.0647 33.1816 24.4552 32.7911L30.8192 26.4271C31.2097 26.0366 31.2097 25.4034 30.8192 25.0129C30.4286 24.6224 29.7955 24.6224 29.405 25.0129L23.7481 30.6697L18.0913 25.0129C17.7007 24.6224 17.0676 24.6224 16.677 25.0129C16.2865 25.4034 16.2865 26.0366 16.677 26.4271L23.041 32.7911ZM22.7481 3.81472e-08L22.7481 32.084L24.7481 32.084L24.7481 -3.81476e-08L22.7481 3.81472e-08Z" fill="currentColor"/>
                                    <line x1="46.4962" y1="41" x2="0.999992" y2="41"  stroke-width="2" stroke-linecap="round"/>
                                </svg>
                            </p>
                            <p class="tabs__card-desc">Скачать отчет<br/>
                                по рынку MENA</p>
                        </a>
                    </div>
                    <button class="tabs__btn tabs__btn--bottom">Выйти на рынок</button>
                </div>

                <div id="tab3" class="tabs__content">
                    <div class="tabs__col-l">

                        <p class="tabs__title">Чем интересен<br/>
                            <span class="tabs__green-txt">Рынок MENA:</span> 3</p>
                        <p class="tabs__desc">ОАЭ, Саудовская Аравия,
                            Израиль, Оман, Бахрейн, Катар,
                            Тунис, Йемен, Египет, Алжир</p>

                        <button class="tabs__btn">Выйти на рынок</button>
                        <div class="tabs__emp">
                            <div class="tabs__img-wrapper">
                                <img src="img/manager.jpg" alt="Profile picture" class="tabs__img">
                            </div>
                            <div class="tabs__emp-txt">
                                <p class="tabs__emp-name">Фатима</p>
                                <p class="tabs__emp-position">Менеджер по MENA</p>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__col-r">
                        <div class="tabs__card">
                            <p class="tabs__card-title">>5,5 <span class="tabs__title-sm">Млрд</span></p>
                            <p class="tabs__card-desc">Инвестиции pre-seed, seed</p>
                        </div>
                        <div class="tabs__card">
                            <p class="tabs__card-title">>300</p>
                            <p class="tabs__card-desc">Акселераторов, инкубаторов</p>
                        </div>
                        <div class="tabs__card">
                            <p class="tabs__card-title">73</p>
                            <p class="tabs__card-desc">Венчурных фонда</p>
                        </div>
                        <a href="#" class="tabs__card">
                            <p class="tabs__card-title">
                                <svg width="48" height="42" viewBox="0 0 48 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.041 32.7911C23.4315 33.1816 24.0647 33.1816 24.4552 32.7911L30.8192 26.4271C31.2097 26.0366 31.2097 25.4034 30.8192 25.0129C30.4286 24.6224 29.7955 24.6224 29.405 25.0129L23.7481 30.6697L18.0913 25.0129C17.7007 24.6224 17.0676 24.6224 16.677 25.0129C16.2865 25.4034 16.2865 26.0366 16.677 26.4271L23.041 32.7911ZM22.7481 3.81472e-08L22.7481 32.084L24.7481 32.084L24.7481 -3.81476e-08L22.7481 3.81472e-08Z" fill="currentColor"/>
                                    <line x1="46.4962" y1="41" x2="0.999992" y2="41"  stroke-width="2" stroke-linecap="round"/>
                                </svg>
                            </p>
                            <p class="tabs__card-desc">Скачать отчет<br/>
                                по рынку MENA</p>
                        </a>
                    </div>
                    <button class="tabs__btn tabs__btn--bottom">Выйти на рынок</button>
                </div>

                <div id="tab4" class="tabs__content">
                    <div class="tabs__col-l">

                        <p class="tabs__title">Чем интересен<br/>
                            <span class="tabs__green-txt">Рынок MENA:</span> 4</p>
                        <p class="tabs__desc">ОАЭ, Саудовская Аравия,
                            Израиль, Оман, Бахрейн, Катар,
                            Тунис, Йемен, Египет, Алжир</p>

                        <button class="tabs__btn">Выйти на рынок</button>
                        <div class="tabs__emp">
                            <div class="tabs__img-wrapper">
                                <img src="img/manager.jpg" alt="Profile picture" class="tabs__img">
                            </div>
                            <div class="tabs__emp-txt">
                                <p class="tabs__emp-name">Фатима</p>
                                <p class="tabs__emp-position">Менеджер по MENA</p>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__col-r">
                        <div class="tabs__card">
                            <p class="tabs__card-title">>5,5 <span class="tabs__title-sm">Млрд</span></p>
                            <p class="tabs__card-desc">Инвестиции pre-seed, seed</p>
                        </div>
                        <div class="tabs__card">
                            <p class="tabs__card-title">>300</p>
                            <p class="tabs__card-desc">Акселераторов, инкубаторов</p>
                        </div>
                        <div class="tabs__card">
                            <p class="tabs__card-title">73</p>
                            <p class="tabs__card-desc">Венчурных фонда</p>
                        </div>
                        <a href="#" class="tabs__card">
                            <p class="tabs__card-title">
                                <svg width="48" height="42" viewBox="0 0 48 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.041 32.7911C23.4315 33.1816 24.0647 33.1816 24.4552 32.7911L30.8192 26.4271C31.2097 26.0366 31.2097 25.4034 30.8192 25.0129C30.4286 24.6224 29.7955 24.6224 29.405 25.0129L23.7481 30.6697L18.0913 25.0129C17.7007 24.6224 17.0676 24.6224 16.677 25.0129C16.2865 25.4034 16.2865 26.0366 16.677 26.4271L23.041 32.7911ZM22.7481 3.81472e-08L22.7481 32.084L24.7481 32.084L24.7481 -3.81476e-08L22.7481 3.81472e-08Z" fill="currentColor"/>
                                    <line x1="46.4962" y1="41" x2="0.999992" y2="41"  stroke-width="2" stroke-linecap="round"/>
                                </svg>
                            </p>
                            <p class="tabs__card-desc">Скачать отчет<br/>
                                по рынку MENA</p>
                        </a>
                    </div>
                    <button class="tabs__btn tabs__btn--bottom">Выйти на рынок</button>
                </div>

            </div>
            </div>
        </div>
    </div>
</section>