<!--            NAVIGATION              -->

<!--
<nav class="nav">
    <a href="#" class="nav__logo">WebDev.</a>
    <ul class="nav__menu">
        <li class="nav__item">
            <a href="#" class="nav__link">Services</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Blog</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">About</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Contact1</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Contact2</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Contact3</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Contact4</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Contact5</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Contact6</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Contact7</a>
        </li>
    </ul>
    <div class="hamburger">
        <span class="hamburger__bar"></span>
        <span class="hamburger__bar"></span>
        <span class="hamburger__bar"></span>
    </div>
</nav>

-->
<!--            NAVIGATION END              -->


<!--                ACCORDION               -->
<!--
<div class="accordion">
    <div class="accordion__item">
        <button class="accordion__header">Section 1</button>
        <div class="accordion__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="accordion__item">
        <button class="accordion__header">Section 1</button>
        <div class="accordion__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="accordion__item">
        <button class="accordion__header">Section 1</button>
        <div class="accordion__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>
-->
<!--                ACCORDION END                      -->


<!--                TABS                      -->
<!--
<div class="tabs">
    <div class="tabs__panel">
        <button class="tabs__link" onclick="openTab(this, 'tab1');" id="defaultTab">London</button>
        <button class="tabs__link" onclick="openTab(this, 'tab2');">Paris</button>
        <button class="tabs__link" onclick="openTab(this, 'tab3');">Tokyo</button>
    </div>
    <div id="tab1" class="tabs__content">
        <h3>London</h3>
        <p>London is the capital city of England.</p>
    </div>
    <div id="tab2" class="tabs__content">
        <h3>Paris</h3>
        <p>Paris is the capital of France.</p>
    </div>

    <div id="tab3" class="tabs__content">
        <h3>Tokyo</h3>
        <p>Tokyo is the capital of Japan.</p>
    </div>
</div>
-->

<!--                TABS END                      -->

<!--                  MODAL                       -->

<!--
<button class="call-modal">Open Modal</button>
<div id="myModal" class="modal">
    <div class="modal__content">
        <span class="modal__close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>
</div>
-->

<!--                MODAL END                      -->

<!--                DOUBLE DOT SLIDER              -->

<!--
    <div class="slider-wrapper">
        <div class="slider-values">
            <span id="range1">
                0
            </span>
            <span>&dash;</span>
            <span id="range2">
                100
            </span>
        </div>
<div class="slider-input">
    <div class="slider-input__wrapper">
        <input type="number" class="slider-input__min" oninput="sliderOneInput()">
    </div>
    <div class="slider-input__wrapper">
        <input type="number" class="slider-input__max" oninput="sliderTwoInput()">
    </div>
</div>
<div class="range-slider">
    <div class="slider-track"></div>
    <input type="range" min="0" max="100" value="30" id="slider-1" oninput="slideOne()">
    <input type="range" min="0" max="100" value="70" id="slider-2" oninput="slideTwo()">
</div>
</div>
-->

<!--                DOUBLE DOT SLIDER END          -->
<!--                CUSTOM DROPDOWN                 -->
<!--

<div class="dropdown">
  <input type="text" class="dropdown__input" placeholder="Dropdown Menu" readonly>
  <div class="dropdown__option">
    <div onclick="show(this)">Html</div>
    <div onclick="show(this)">JS</div>
    <div onclick="show(this)">CSS</div>
    <div onclick="show(this)">Figma</div>
    <div onclick="show(this)">ReactJS</div>
  </div>
</div>

-->
<!--                CUSTOM DROPDOWN END             -->