.accordion {
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  @include breakpoint(sm){
    row-gap: 22px;
  }
}

.accordion__header {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px 50px;
  width: 100%;
  border: none;
  //text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  min-width: 80px;

  justify-content: space-between;
  border-radius: 10px;
  @include breakpoint(md){
    padding: 10px 30px;
    column-gap: calc(100vw / 17.86);
  }
  @include breakpoint(sm){
    display: grid;
    padding:18px 40px 19px;
    position: relative;
  }
  @include breakpoint(xs38){
    padding:18px 25px 19px;
  }
}

//.accordion__header.active,
.accordion__header:hover {
  background-color: #ccc;
}
.accordion__header.active{
  border-bottom: 1px solid #E9E9E9;
  border-radius: 10px 10px 0 0;

  .accordion__btn-circle{
    transform: rotate(180deg) ;
  }

  & + .accordion__body{
    border-radius: 0 0 10px 10px;
  }
  .accordion__btn-link{
    @include breakpoint(sm){
      margin: 0;
      width: 100%;

      grid-column: 1/2;
      grid-row: 1/2;

      text-align: right;
    }
  }
  .accordion__module-duration{
    @include breakpoint(md){
      display: block;
      @include text-shorten;
    }
    @include breakpoint(sm){
      text-align: start;
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }

  @include breakpoint(sm){
    column-gap: 21px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
  }

}


.accordion__body {
  //padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
select {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

.accordion__item {
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
  &:first-child{
    .accordion__header{

    }
  }
  &:last-child{
    .accordion__btn-circle{
      display: none;
    }
    .accordion__btn-link{
      @include truncate-text(200px);
    }
  }
}

.accordion__btn-link {
  font-weight: 700;
  line-height: 60px;
  color: #2A79C2;
  display: inline-block;
  width: fit-content;
  margin-right: 15px;
  @include truncate-text(105px);
  @include fluid-type(768px, 1920px, 16px, 20px);

  @include breakpoint(lg){
    @include truncate-text(95px);
  }
  @include breakpoint(md){
    line-height: 20px;
    margin-right:unset;
    @include fluid-type(360px, 768px, 12px, 16px);
  }
  @include breakpoint(sm){
    max-width: 100%;
    @include text-shorten;
    margin: 0 auto;
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

.accordion__btn-desc {
  font-weight: 500;
  line-height: 60px;
  color: #000000;
  flex: 1;
  text-align: start;
  @include fluid-type(768px, 1920px, 16px, 20px);
  @include breakpoint(md){
    line-height: 20px;
    text-align: center;
    @include fluid-type(360px, 768px, 12px, 16px);
  }
  @include breakpoint(sm){
    line-height: 19px;
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.accordion__module-duration {
  display: none;

  @include breakpoint(md){
    //display: block;
    font-weight: 400;
    line-height: 60px;
    color: #000000;
    @include fluid-type(360px, 768px, 12px,16px);
    @include breakpoint(sm){
      line-height: 20px;
    }

  }
}

.accordion__btn-circle {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #2A79C2;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  transition: .3s linear;
  @include breakpoint(md){
    width: 30px;
    height: 30px;
  }
  @include breakpoint(sm){
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -12px;
    left: calc(50% - 12px);
    //transform:translateX(-50%);
  }
  svg{
    @include breakpoint(md){
      width: 13px;
      height: 9px;
    }
    @include breakpoint(sm){
      width: 10px;
    }
  }
}

.accordion__body {
}

.accordion__paragraph {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E9E9E9;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #555555;
  padding: 5px 50px;
  @include fluid-type(768px, 1920px, 14px, 16px);
  @include breakpoint(md){
    line-height: 25px;
    padding: 10px 30px;
    min-height: 62px;
    @include fluid-type(360px, 768px, 12px, 14px);
  }
  @include breakpoint(sm){
    padding:10px 15px;
    min-height: 56px;
  }
  &:last-child{
    border-bottom: 0;
  }
}

.accordion__paragraph-link {

  color: #2A79C2;
  &:visited{
    color: #2A79C2;
  }
}
