.nav__login{
  display: flex;
  padding:0 45px;
  height: 56px;
  align-items: center;
  background: $secondaryClr;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
  @include fluid-type(768px, 1920px, 16px, 18px);
  transition: .3s ease-in-out;

  @include breakpoint(md){
    height: 46px;
    padding:0 28px;
    @include fluid-type(320px, 768px, 14px, 16px);
  }
  @include breakpoint(sm){
    height: 40px;
    padding:0 27px;
  }
  &:hover{
    background-color: #09e0ba;
  }
  &:active{
    box-shadow: inset 0px 0px 50px 3px rgba(0,0,0,0.75);
  }
}

.hero__btn{
  font-weight: 600;
  font-size: 20px;
  line-height: 80px;
  height: 80px;
  padding:0 33px;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
  border-radius: 10px;
  position: relative;
  margin-top: 34px;
  width: fit-content;
  @include fluid-type(768px, 1920px, 18px,20px);
  z-index: 2;

  @include breakpoint(md){
    height: 71px;
    line-height: 100%;
    align-items: center;
    padding:0 48px;
    margin-top: 10px;
    @include fluid-type(320px, 768px, 16px,18px);
  }
  @include breakpoint(sm){
    margin-top: 44px;
    padding:0 56px;
    height: 55px;
  }
  span{

  }
  &:before{
    content:'';
    background: linear-gradient(84deg, #016CA8 -7%, #61B5E4 77.16%);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    opacity: 0;
    z-index: -1;
    transition: .3s ease-in-out;
  }
  &:hover{
    &:before{
      opacity: 1;
    }
  }
  &:active{
    &:before{
      z-index: -2;
      opacity: 0;
    }
    z-index: 1;
    background: #016CA8;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    //z-index: 0;
  }
}
.services__card-btn{
  background: $secondaryClr;
  border-radius: 10px;
  height: 70px;
  padding:0 74px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  width:fit-content;
  transition: .3s ease-in-out;

  @include breakpoint(md){
    @include fluid-type(320px, 768px, 16px,18px);
    margin: 0 auto;
  }

  @include breakpoint(sm){
    width: 100%;
    justify-content: center;
    padding:0;
  }
  &:hover{
    background-color: #09e0ba;
  }
  &:active{
    box-shadow: inset 0px 0px 50px 3px rgba(0,0,0,0.75);
  }
}
.consultation__get-con-btn{

  @extend .hero__btn;
  margin:0 auto;
  @include breakpoint(md){
    padding:38px;
  }
  @include breakpoint(sm){
    padding:0 34px;
  }
}
.tabs__btn{
  @extend .hero__btn;
  margin-top: unset;
  height: 70px;
  line-height: 1;
  align-items: center;
  @include breakpoint(md){
    @include fluid-type(360px, 768px, 16px, 18px);
    margin-top: 16px;
    order: 4;
  }
  @include breakpoint(sm){
    display: none;
  }
}
.tabs__btn--bottom{
  display: none;
  @include breakpoint(sm){
    width: 100%;
    margin-top: 12px;
    display: flex;
  }
}
.program__get-full{
  @extend .hero__btn;
  margin-top: 0;
  height: 70px;
  padding: 0 45px;
  display: flex;
  align-items: center;
  line-height: 1;
  @include fluid-type(768px, 1920px, 16px,18px);
  @include breakpoint(md){
    display: none;
  }
}
.partners__btn{

  @extend .services__card-btn;
  height: 80px;
  margin: 0;
  padding: 0 36px;
  @include breakpoint(lg){
    margin: 0 auto;
  }
  @include breakpoint(md){
    height: 70px;

  }
  @include breakpoint(sm){
    padding: 0;
    height: 55px;
    width: 100%;
  }
}

.price__btn{
  //margin-top: 20px;
  @extend .hero__btn;
  margin: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  line-height: 1;
  padding:0;
  @include breakpoint(md){
    //margin-top: 25px;
  }
  @include breakpoint(sm){
    height: 55px;
    //margin-top: 13px;
  }
}
.join__btn{
  @extend .price__btn;
  line-height: 150%;
  width: fit-content;
  padding: 0 75px;
  margin: 0 auto;
  @include breakpoint(sm){
    padding: 0;
    width: 100%;
  }
}
.contacts__sub-btn{
  @extend .services__card-btn;
  padding:0 43px;
  margin: 35px 0 0;
  @include breakpoint(sm){
    padding: 0;
    margin: 27px 0 0;

  }
}

.contacts__c-code-btn{
  background-color: unset;
  min-width: 94px;
}