.contacts__name-field, .contacts__email-field{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e4e4e4;
  font-weight: 400;
  font-size: 16px;
  line-height: 60px;
  color: #000;
  @include breakpoint(md){
    @include fluid-type(360px, 768px, 14px, 16px);
  }
  @include breakpoint(sm){
    height: 48px;

    line-height: 48px;
  }

  &::placeholder{
    color:#707070;
  }
}
.contacts__phone-txt{
  @extend .contacts__name-field;
  padding-left: 105px;

}