.modal {
  display: none;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  //display: flex;
  align-items: center;
  justify-content: center;
  //flex-direction: column;
  //background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

}

.modal__content {
  border-radius: 10px;
  //background-color: #fefefe;
  margin: 15% auto;
  padding: 20px 20px 8px;
  background-color: #000;
  border: 1px solid #888;
  width: fit-content;
  position: relative;
  @include breakpoint(lg){
    width: calc(100% - 40px);
    height: fit-content;
    padding: 0 20px;
  }
  @include breakpoint(xs38){
    width: 100%;
    padding: 20px 0 0;
    border-radius: 0;
  }

}

.modal__close {
  line-height: 100%;
  top: -2px;
  right: 4px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  transition: .3s ease-in-out;

  &:hover, &:focus{
    color: $secondaryClr;
    text-decoration: none;
    cursor: pointer;
  }
}
.modal__video{
  @include breakpoint(lg){
    width:100%;
    height:calc(100vw / 1.78);
  }
}