.tabs__panel {
  overflow: hidden;
  //border: 1px solid #ccc;
  background-color:  #CFDDEB;
  display: flex;
  border-radius: 5px;
  column-gap: 1px;


}

.tabs__panel button {
  flex-basis: 25%;
  cursor: pointer;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  background: #EEF1F4;
  font-weight: 400;
  line-height: 1.2;
  color: #484848;
  padding:0 3px;

  @include breakpoint(md){
    line-height: 160%;
    @include fluid-type(360px, 768px, 10px,14px);
  }
  @include breakpoint(sm){
    height: 56px;
  }
  &:hover{
    background-color: #ddd;
  }

  &.active{
    background-color: #88BBD8;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
  }
}

/*
.tabs__content {
  display: none;
  padding: 6px 12px;
  //border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s;

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}
*/
