.about {

  padding-bottom: 100px;
  @include breakpoint(lg){
    padding-left: 20px;
    padding-right: 20px;
  }
  .about__row {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .about__header {

  }

  .about__title {
    margin-bottom: 15px;
    @include breakpoint(md){
      margin-bottom: 0;
    }
    @include breakpoint(sm){
      margin-bottom: 12px;
    }
  }

  .about__desc {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    @include fluid-type(768px, 1920px, 16px, 20px);
    @include breakpoint(md){
      text-align: center;
      @include fluid-type(360px, 768px, 14px, 16px);
    }

  }

  .about__cards {
    display: flex;
    column-gap: 20px;
    @include breakpoint(sm){
      flex-direction: column;
      row-gap: 10px;
    }
  }

  .about__card {
    height: 284px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    flex-direction: column;
    flex-basis: 33.3%;
    padding:15px;
    row-gap: 30px;
    @include breakpoint(md){
      row-gap: 20px;
      padding:15px;
    }
    @include breakpoint(sm){
      height: 143px;
      flex-basis: unset;
      padding: 0 30px;
      flex-direction: row;
      column-gap: 20px;
      //justify-content: start;
    }
    @include breakpoint(xs38){
      justify-content: start;
    }
    &:first-child{
      .about__card-title{
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 120px;
        line-height: 1;
        text-align: center;
        //font-size: 100px;
        background-color: #f3ec78;
        background-image: linear-gradient(143.71deg, #8BD7DC 21.17%, #1246A9 127.82%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;

        @include breakpoint(md){
          font-size: 98px;
        }
        @include breakpoint(sm){
          font-size: 75px;
          line-height: 91px;
        }
      }
    }

    &:nth-child(2){
      .about__card-title{line-height: 1;}
      svg{
        @include breakpoint(md){
          width: 73px;
          height: 72px;
        }
        @include breakpoint(sm){
          width: 52px;
          height: 51px;
        }
      }
    }
    &:last-child{
      .about__card-title{line-height: 1;}
      svg{
        @include breakpoint(md){
          width: 81px;
          height: 68px;
        }
        @include breakpoint(sm){
          width: 52px;
          height: 44px;
        }
      }
    }
  }

  .about__card-title {
  }

  .about__card-desc {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #232323;
    @include fluid-type(768px, 1920px, 20px, 16px);
    @include breakpoint(md){
      line-height: 19px;
      @include fluid-type(360px, 768px, 14px, 16px);
    }
    @include breakpoint(sm){
      line-height: 17px;
      text-align: start;
    }
  }

  .about__video {
    height: 675px;
    width: 100%;
    background: #0F0F0F;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 37px;
    border-radius: 10px;
    @include breakpoint(lg){
      height: calc(100vw / 2.2);
    }
    @include breakpoint(md){
      row-gap: 20px;
      height: calc(100vw / 2.2);
      //height:345px;
    }
    @include breakpoint(sm){
      height: (100vw / 1.8);
    }
  }

  .about__video-desc {
    font-weight: 600;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    @include fluid-type(768px, 1920px, 18px, 20px);
    @include breakpoint(md){
      line-height: 20px;
      @include fluid-type(360px, 768px, 16px, 18px);
      max-width: 230px;
    }
    @include breakpoint(sm){

    }
  }

  .about__play {
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background: #4C8EF0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;

    svg{
      position: relative;
      left: 4px;
    }
    @include breakpoint(lg){
      width: 100px;
      height: 100px;

    }
    @include breakpoint(md){
      width: 89px;
      height: 89px;
      svg{
        width: 30px;
        height: 33px;
      }
    }
    @include breakpoint(sm){
      width: 63px;
      height: 63px;

      svg{
        width: 22px;
        height: 25px;
        left: 3px;
      }
    }
    &:hover{
      .about__animation{
        animation-play-state: running;
      }
    }
  }

  .call-modal {
  }

  .modal {
  }

  .modal__content {
  }

  .modal__close {
  }
  .about__play-wrapper{
    position: relative;
    cursor:pointer;
    border-radius: 50%;
    &:hover{
      .about__animation{
        animation-play-state: running;
        display:inline-block;
      }
    }
  }

  .about__animation{
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    border:3px solid #4C8EF0;
    animation-name: circleAnim;
    animation-duration: .7s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    display: none;
  }
}

@keyframes circleAnim{
  0% {
    opacity:1;
    transform: translate(-50%,-50%) scale(1);
  }
  33%{
    opacity: .6;
    transform:  translate(-50%,-50%) scale(1.25);
  }
  66%{
    opacity: .3;
    transform:  translate(-50%,-50%) scale(1.4);
  }
  100% {
    //height: 70px;
    //width: 70px;
    transform:  translate(-50%,-50%) scale(1.5);
    opacity:0;
  }
}