.contacts {
  background-color: #4C8EF0;

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 76px 0;
    column-gap: 15px;
    @include breakpoint(lg){
      padding-left: 20px;
      padding-right: 20px;
      row-gap: 72px;
      flex-direction: column;
      align-items: center;
    }
    @include breakpoint(md){

    }
    @include breakpoint(sm){
      row-gap: 0;
    }


  }

  &__txt {
    max-width: 466px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint(md){
      row-gap: 25px;
    }
    @include breakpoint(sm){
      justify-content: initial;
      row-gap: 18px;
    }

  }

  &__txt-top {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    @include breakpoint(md){
      row-gap: 25px;
    }
    @include breakpoint(sm){
      row-gap: 18px;
    }
  }

  &__title {
    @include breakpoint(lg){
      text-align: center;
    }
    color: #fff;
    line-height: 60px;
  }

  &__desc {
    font-weight: 400;
    line-height: 40px;
    color: #fff;
    @include fluid-type(768px, 1920px, 16px, 18px);
    @include breakpoint(lg){
      text-align: center;
    }
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 14px, 16px);
    }
    @include breakpoint(sm){
      line-height: 28px;
    }
  }

  &__txt-bottom {
    display: flex;
    row-gap: 7px;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    font-weight: 600;
    line-height: 60px;
    color: #FFFFFF;
    @include fluid-type(768px, 1920px, 18px, 20px);
    @include breakpoint(md){
      text-align: center;
      @include fluid-type(360px, 768px, 14px, 18px);
    }
  }

  &__socials {
    display: flex;
    column-gap: 58px;
    @include breakpoint(sm){
      column-gap: 47px;
    }
  }

  &__social {
    display: flex;
    column-gap: 15px;
    align-items: center;
    @include breakpoint(sm){
      flex-direction: column;
    }
  }
  &__msg-icon--telegram{
    color:#50a0da;
    @include breakpoint(sm){
      svg{
        width: 26px;
        height: 26px;
      }
    }
  }
  &__msg-icon--whatsapp{
    @include breakpoint(sm){
      svg{
        width: 20px;
        height: 20px;
      }
    }
  }
  &__msg-icon {
    width: 53px;
    height: 53px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    @include breakpoint(sm){
      width: 45px;
      height: 45px;
    }
  }

  .bi {
  }

  .bi-telegram {
  }

  &__msg-txt {
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
    @include breakpoint(md){
      @include fluid-type(360px, 768px,16px, 20px);
    }
    @include breakpoint(sm){
      @include truncate-text(calc((100vw - 87px) / 2));
    }
  }

  &__form {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding:25px 42px;
    max-width: 600px;
    margin-right: 20px;
    @include breakpoint(lg){
      margin-right:0 ;
    }
    @include breakpoint(md){

    }
    @include breakpoint(sm){
      padding:25px 15px;
      border-radius: 5px;
    }
    @include breakpoint(xs38){
      padding: 15px;
    }
  }
  /*DROPDOWN*/
  &__code-list{
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
    width:90px;
    position:absolute;
    //left: -100px;
    z-index: 5;
    background-color: #fff;

  }
  &__code-item{
    cursor:pointer;
    transition: .3s ease-in-out;
    height: 34px;
    display: flex;
    align-items: center;
    //padding-left: 21px;
    //padding-right: 2px;
    justify-content: end;
    padding-right: 5px;

    &:hover{
      background-color: rgba(0,0,0,.2);
    }
  }
  &__phone{
   position: relative;

    &.active{
      .contacts__code-list{
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 4px;
        }
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }
        &::-webkit-scrollbar-thumb {
          background: #888;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }
      .contacts__svg-wrapper{
        svg{
          transform:rotate(180deg);
        }
      }
    }
  }

  &__c-code-btn{
    position: absolute;
    left: 0;
    top: 47%;
    transform:translateY(-50%);
    display: flex;
    align-items: center;
    column-gap: 7px;
  }
  &__country-field{
    display: flex;
    align-items: center;
    column-gap: 7px;
    flex: 1;
  }
  .contacts__svg-wrapper{
    svg{
      transition: .3s ease-in-out;
    }
  }
  &__country-code{
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #707070;
    flex: 1;
    
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 14px, 16px);
    }
  }
  /*DROPDOWN END*/
}