.consultation {
  background: linear-gradient(rgba(0, 0, 0, 0.55)), url("../img/consultation-bg.jpg");
  @include cover-background;
  padding:134px 0 172px;

  @include breakpoint(lg){
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint(md){
    padding:118px 20px;
  }
  @include breakpoint(sm){
    padding:95px 20px;
  }
  &__row {

  }
  &__txt-green{
    background-color: $secondaryClr;
    padding: 0 5px;
  }
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    @include breakpoint(md){
      @include fluid-type(320px, 768px, 24px, 36px);
      line-height: 35px;
    }
  }

  &__desc {
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    @include fluid-type(765px, 1920px, 24px, 16px);
    @include breakpoint(md){
      line-height: 30px;
      margin-top: 20px;
      @include fluid-type(320px, 768px, 14px, 16px);
    }
    @include breakpoint(sm){
      line-height: 20px;
      margin-bottom: 39px;
      margin-top: 27px;
    }
  }

  &__get-con {
  }
}