.customers {
  padding-bottom: 100px;

  @include breakpoint(lg){
    padding:0 20px 100px;
  }
  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    @include breakpoint(md){
      row-gap: 20px;
    }
    @include breakpoint(sm){
      row-gap: 10px;
    }
  }

  &__title {
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include breakpoint(md){
      grid-template-columns: repeat(2, 1fr);
      //grid-template-columns: repe;
      grid-template-rows: repeat(2,1fr);
    }
    @include breakpoint(sm){
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3,1fr);
    }
  }
  &__card--bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(md){
      grid-row: 2/3;
      grid-column: 1/3;

      .customers__card-desc{
        max-width: 396px;
      }
      .customers__card-title{
        max-width: 396px;
      }
    }
    @include breakpoint(sm){
      grid-row: unset;
      grid-column: unset;
    }
  }

  &__card {

    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding:70px 30px 35px;
    @include breakpoint(md){
      padding: 50px 30px 69px;
    }
    @include breakpoint(sm){
      padding: 25px 18px 38px;
    }
  }

  &__card-number {
    text-align: center;
    font-weight: 800;
    line-height: 100%;
    color: rgba(17, 120, 178, 0.5);
    @include fluid-type(320px, 768px, 64px, 80px);
    margin-bottom: 47px;

    @include breakpoint(md){
      margin-bottom: 40px;
    }
    @include breakpoint(sm){
      margin-bottom: 24px;
    }
  }

  &__card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 15px;

    @include breakpoint(md){
      margin-bottom: 10px;
      @include fluid-type(320px, 758px, 14px, 20px);
    }
    @include breakpoint(sm){
      margin-bottom: 5px;
    }
  }

  &__card-desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    @include fluid-type(768px, 1920px, 14px,16px);
    @include breakpoint(md){

    }
  }
}