.events {

  padding: 100px 0;
  @include breakpoint(lg){
    padding: 100px 20px;
  }
  @include breakpoint(sm){
    padding-bottom: 40px;
  }
  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__title {
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    @include breakpoint(sm){
      grid-template-columns: 1fr;
      row-gap: 10px;
      margin: 0 auto;
    }

  }

  &__card {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;

    @include breakpoint(md){

    }
    @include breakpoint(sm){
      max-width: 400px;
      flex-direction: row;
      min-height: 171px;
      border-radius: 5px;
    }
  }

  &__img-wrapper {
    width: 100%;
    height: 155px;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    //min-height: 155px;
    @include breakpoint(lg){
      height: 120px;
    }
    @include breakpoint(md){
      height: 100px;
    }
    @include breakpoint(sm){
      height: 100%;
      width: 86px;
      border-radius: 5px 0 0 5px;
    }

  }
  &__img--vertical{
    display: none;
  }
  &__img {
    display: none;
   /* position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    object-fit: cover;*/
  }

  &__card-txt {
    flex: 1;
    padding: 19px 70px 25px 30px;
    display: flex;
    flex-direction: column;
    @include breakpoint(lg){
      padding: 20px 25px;
    }
    @include breakpoint(md){
      padding: 20px 10px 10px;
    }
    @include breakpoint(sm){
      padding: 20px;
    }
  }

  &__card-title {
    font-weight: 600;
    line-height: 25px;
    color: #000000;
    @include fluid-type(768px, 1920px, 14px, 20px);
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 12px, 14px);
    }
  }

  &__card-desc {
    flex: 1;
    font-weight: 400;
    line-height: 25px;
    color: #000000;
    margin-top: 10px;
    @include fluid-type(768px, 1920px, 12px, 16px);
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 10px, 12px);
    }
    @include breakpoint(sm){
      line-height: 18px;
    }
  }

  &__card-date {
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    margin-top: 35px;
    @include fluid-type(768px, 1920px, 12px, 14px);
    @include breakpoint(md){
      margin-top: 40px;
      @include fluid-type(360px, 768px,10px, 12px);
    }
    @include breakpoint(sm){
      margin-top: 12px;
    }

  }
}