.experts {
  padding-bottom: 100px;
  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__title {
    @include breakpoint(lg){
      padding-left: 20px;
      padding-right: 20px;
    }
    @include breakpoint(sm){
      margin-bottom: 15px;
    }
  }

  &__slider-wrapper {
    position: relative;
  }

  &__slider {
    max-width: 1054px;
    margin: 0 auto;
  }

  &__slide {
    max-width: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0 20px;
    @include breakpoint(sm){
      row-gap: 10px;
    }
    @include breakpoint(md){
      max-width: 298px;
      padding: 0 34px;
    }
    @include breakpoint(sm){
      padding:0 20px;
    }
  }

  &__img-wrapper {
    width: 186px;
    height: 186px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    @include breakpoint(sm){
      width: 150px;
      height: 150px;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    object-fit: cover;
  }

  &__txt {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 230px;
    width: 100%;

    @include breakpoint(sm){
      margin: 0 auto;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 16px, 18px);
    }
  }

  &__about {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #000000;

    @include breakpoint(md){
      @include fluid-type(360px, 768px, 12px, 15px);
    }
  }

  &__slider-btns {
    width: 100%;
    position: absolute;
    top: 85px;

    @include breakpoint(lg){
      position: static;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      padding:0 20px;
    }
  }
  &__prev-btn{
    left: 0;
    @include breakpoint(lg){
      //left: 20px;
    }
  }
  &__next-btn{
    right:0;
    @include breakpoint(lg){
      //right: 20px;
    }
  }
  &__prev-btn, &__next-btn {
    z-index: 2;
    position: absolute;
    width: 39px;
    height: 39px;
    min-height: 39px;
    background-color: #2A79C2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color .3s ease-in-out;
    @media screen and (min-width: 993px){
      &:hover:not(.slick-disabled){
        background-color: #5390c9;

      }
      &:active:not(.slick-disabled){
        box-shadow: inset 0 0 20px 0 rgba(0,0,0,.6);
      }
    }

    @include breakpoint(lg){
      height: fit-content;
      position: relative;
      width: fit-content;
      bottom: 0;
      background-color: rgba(0,0,0,0);
      transition:bottom .1s ease-in-out;
      &:hover:not(.slick-disabled){
        .experts__svg-arrow-long{
          path{
            transition: fill .6s ease-in-out;
            fill:$secondaryClr;
          }
        }
      }
      &:active:not(.slick-disabled){
        bottom:-4px;
      }
    }

    .experts__svg-arrow-long{
      display: none;

      @include breakpoint(lg){
        display: initial;
      }
      @include breakpoint(sm){
        width: 86px;
      }

    }
    .experts__svg-arrow{
      @include breakpoint(lg){
        display: none;
      }
    }

  }
  .slick-arrow{
    display: initial;
  }
}