.hero {

  &__row {
    padding: 250px 0 308px;
    display: flex;
    flex-direction: column;

    @include breakpoint(md){
      align-items: center;
      padding:388px 55px;
    }
    @include breakpoint(sm){
      padding:calc(154px + 80px) 7px 154px;
    }
  }

  &__title {
    max-width: 780px;
    @include breakpoint(md){
      text-align: center;
    }
  }

  &__title-green {
    font-weight: 700;
    color: #FFFFFF;
    background-color: $secondaryClr;
    display: inline-block;
    padding: 0 10px;
    @include breakpoint(sm){
      padding:0 6px;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 34px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 24px;
    max-width: 780px;

    @include fluid-type(768px, 1920px, 18px, 24px);
    @include breakpoint(md){
      display: none;
    }
  }

  &__btn {

  }
  &__nearest-start{
    font-weight: 400;
    font-size: 18px;
    line-height: 80px;
    color: #FFFFFF;
    display: none;
    @include fluid-type(320px, 768px, 16px,18px);
    @include breakpoint(md){
      text-align: center;
      display: block;
      margin-top: 10px;
    }
    @include breakpoint(sm){
      margin-top: 32px;
      line-height: 31px;
    }
  }
  &__date{
    font-weight: 700;
    //font-size: 18px;
    line-height: 80px;
    color: $secondaryClr;
    background: #FFFFFF;
    border-radius: 3px;
    padding:4px;
    @include breakpoint(sm){
      line-height: 31px;
    }
  }
}