.innoma {

  padding-bottom: 100px;


  &__row {

  }

  &__title {
    @include breakpoint(md){
      margin-bottom: 20px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 100px;

    @include breakpoint(lg){
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: end;
    column-gap: 2%;
    @include breakpoint(lg){
      align-items: center;
    }
    @include breakpoint(md){
      flex-direction: column;
      align-items: center;
      max-width: 630px;
      margin: 0 auto;
      row-gap: 25px;
    }
    @include breakpoint(sm){
      max-width: 100%;
      row-gap: 20px;
    }
  }



  &-img {
  }

  &__txt {
    max-width: 565px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    font-weight: 300;
    line-height: 30px;
    color: #000000;
    flex-basis: 49%;
    @include fluid-type(768px, 1920px, 18px, 20px);
    @include breakpoint(md){
      row-gap: 5px;
      max-width: 100%;
      text-align: center;
      @include fluid-type(360px, 768px, 14px, 18px);
    }
    @include breakpoint(xs38){
      //position: relative;
    }

  }

  &__paragraph {
  }

  &__link {
    color: #1178B2;
    font-weight: 600;
    @include breakpoint(md){
      display: none;
    }
  }

  &__link-sm{
   display: none;
    @include breakpoint(md){
      display: inline;
    }
  }

  &__person {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    @include breakpoint(lg12){
      align-items: end;
    }
    @include breakpoint(md){
      flex-direction: column-reverse;
      row-gap: 38px;
      position: relative;
    }
  }

  &__img-person-wrapper {

    padding-left: 65px;
    @include breakpoint(lg){
      padding-left: 15px;
    }
    @include breakpoint(md){
      margin: 0 auto;
      padding:0 calc(100vw / 9);
    }
  }

  &__person-txt {
    max-width: 610px;
    padding-right:44px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    display: flex;
    flex-direction: column;
    row-gap: 47px;
    @include breakpoint(lg12){

    }
    @include breakpoint(lg){
      flex-basis: 65%;
      padding-right: 15px;
    }
    @include breakpoint(md){
      padding-bottom: 0;
      padding-top: 0;
      padding-right: 0;
      row-gap: 0;
      text-align: center;
      font-style: normal;

      @include fluid-type( 360px, 768px, 14px, 16px);
    }
    @include breakpoint(sm){
      text-align: left;
    }
    @include breakpoint(xs38){
      position: relative;
    }

  }

  &__person-paragraph {
    &:first-child{
      @include breakpoint(md){
        padding: 37px calc(100vw / 10.24) 0;
      }
      @include breakpoint(sm){
        padding: 30px 23px 0 30px;
      }
      @include breakpoint(xs38){
        padding: 20px 20px 0;

      }
    }
    &--name{
      display: flex;
      flex-direction: column;
      align-items: start;
      font-style: normal;
      font-size: 14px;
      line-height: 25px;
      color: #000000;
      @include breakpoint(md){

        row-gap: 5px;
        line-height: 20px;
        @include fluid-type(360px, 768px, 11px, 14px);
        position: absolute;
        bottom: 35px;
        left: 30px;
      }
      @include breakpoint(sm){
        line-height: 14px;
        max-width: 70px;
      }
      @include breakpoint(xs38){
        row-gap: 2px;
        bottom: -77px;
        right: 20px;
        left: unset;
      }

      span{
        display: inline-block;
      }
    }
  }

  &__txt-bold {
    font-weight: 500;
    white-space: nowrap;
    @include breakpoint(xs38){
      white-space: initial;
    }
  }

  &__slider {
    margin-top: 100px;
  }

  &__slide {
    min-height: 158px;
    height: 158px;
    width: 236px;
    border-radius: 10px;
    max-width: 236px;

    @include breakpoint(sm){
      min-height: 110px;
      height: 110px;
      width: 162px;
      max-width: 162px;
    }
  }
  .slick-slide {
    margin: 0 3.5px;
  }

  &__slide-wrapper{
    width: fit-content;
  }
  &__slide-img {

  }

  &__img-wrapper {
    position: relative;
    flex-basis: 49%;
    @include breakpoint(md){
      width: 345px;
      height: 270px;
    }
    @include breakpoint(xs38){
      width: 266px;
      height: auto;
    }
  }

}