.join {

  background:linear-gradient(rgba(0, 0, 0, 0.65)), url("../img/join.jpg");
  @include cover-background;
  padding: 131px 0;
  @include breakpoint(md){
    padding: 121px 0;
  }
  @include breakpoint(lg){
    padding-left: 20px;
    padding-right: 20px;
  }
  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    align-items: center;
    @include breakpoint(md){
      row-gap: 30px;
    }
    @include breakpoint(sm){
      row-gap: 32px;
    }
  }

  &__title {
    max-width: 1000px;
    color:#fff;
    text-align: center;
    line-height: 60px;
    @include breakpoint(md){

    }
    @include breakpoint(sm){
      line-height: 35px;
    }
  }

/*  &__txt {
    max-width: 762px;
  }*/

  &__desc {
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    max-width: 762px;

    @include fluid-type(768px,1920px, 16px, 20px);
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 12px, 16px);
      line-height: 20px;
    }
  }

  &__btn {
  }
}