.partners {
  position: relative;
  background: linear-gradient(138.28deg, rgba(25, 115, 250, 1) -12.19%, rgba(117, 172, 253, 1) 92.47%);
  overflow: hidden;
  @include breakpoint(lg){
    padding-left: 20px;
    padding-right: 20px;
  }
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(138.28deg, rgba(25, 115, 250, 0.85) -12.19%, rgba(117, 172, 253, 0.85) 92.47%);
    z-index: 1;
  }
  &__bg-img-container{
    display: flex;
    column-gap: 29px;
    justify-content: center;
    position: absolute;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    //z-index: -1;
    @include breakpoint(md){
      flex-direction: column;
      row-gap: 8px;
      top: 0;
      justify-content: start;
    }
    @include breakpoint(sm){
      top: -150px;
    }

  }
  &__bg-img-wrapper{
    min-width: 700px;
    &:nth-child(2){
      img{
        transform: scaleX(-1);
      }
      @include breakpoint(lg){
        transform: scaleX(-1) scale(1.7);
        top: 0;
      }
      @include breakpoint(sm){
        display: none;
      }
    }

    &:first-child,&:last-child{
      @include breakpoint(lg){
        display: none;
      }
      @include breakpoint(sm){
        display: initial;

        img{
          ///transform: scale(.8);
        }
      }
    }
  }

  &__row {
    padding: 65px 7px 65px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    @include breakpoint(lg){
      flex-direction: column;
      row-gap: 50px;
    }
    @include breakpoint(md){
      padding: 117px 0;
    }
    @include breakpoint(sm){
      padding: 100px 0;
      row-gap: 32px;
    }
  }

  &__left-col {
    max-width: 556px;
    z-index: 1;
    position: relative;
    @include breakpoint(lg){

    }
    @include breakpoint(md){
      max-width: 100%;
    }
  }

  &__title {
    color:#fff;
    @include fluid-type(768px, 1920px, 32px, 40px);
    @include breakpoint(lg){
      text-align: center;
    }
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 20px, 32px);
      line-height: 60px;
    }
    @include breakpoint(sm){
      line-height: 40px;
    }
  }

  &__desc {
    color:#fff;
    margin: 17px 0 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    @include breakpoint(lg){
      text-align: center;
    }
    @include breakpoint(md){
      margin: 30px 0;
      //padding: 30px 0;
      text-align:center;
      @include fluid-type(360px, 768px, 14px, 18px);
    }
    @include breakpoint(sm){
      margin: 27px 0 46px;
    }
  }

  &__btn {
  }

  &__right-col {
    position: relative;

  }

  &__cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 205px);
    grid-template-rows: repeat(3, 114px);
    position: relative;
    z-index: 2;
    @include breakpoint(md){
      margin-right: 108px;
    }
    @include breakpoint(sm){
      grid-template-columns: repeat(2, 121px);
      grid-template-rows: repeat(3, 66px);
      margin-right: calc(100vw / 5.71);
    }
    @include breakpoint(xs38){
      margin-right: unset;
    }
  }

  &__card {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(sm){

      padding: 8px 14px;
    }
  }

  .partner__card-img {
    max-height: 100%;
  }

  &__dots-wrapper {
    position: absolute;
    right: -108px;
    top: 34px;
    z-index: 1;
    @include breakpoint(md){
      right: 0;
    }
    @include breakpoint(xs38){
      right: -20px;
    }

  }

  &__dots-img {
    @include breakpoint(sm){
      width: 217px;
      height: 136px;
    }
  }
}