.price {
  padding-bottom: 100px;
  @include breakpoint(lg){
    padding-left: 20px;
    padding-right: 20px;
  }
  &__row {
  }

  &__title {
    margin-bottom: 15px;
    @include breakpoint(sm){
      margin-bottom: 35px;
    }
  }

  &__cards {
    display: flex;
    column-gap: 20px;
    //grid-template-columns: repeat(3, 1fr);
    @include breakpoint(lg){
      row-gap: 20px;
      //  flex-wrap:wrap;
      display: grid;
      grid-template-columns: repeat(2, minmax(250px, 400px));
      grid-template-rows: repeat(2, auto);
    }
    @include breakpoint(sm){
      grid-template-columns: minmax(250px, 400px);
      justify-content: center;
      grid-template-rows: repeat(3, auto);
    }
  }

  &__card {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    flex-basis: 33.3%;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    @include breakpoint(md){
      flex-basis: 45%;
    }
  }

  &__card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    padding: 31px 0 26px;
  }

  &__svg-wrapper {
  }

  &__card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #1B1B1B;
    @include fluid-type(768px, 1920px, 18px, 20px);
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 16px, 18px);
    }
  }

  &__card-body {
    ///flex: 1;
  }

  &__subtitle {
    font-weight: 500;
    line-height: 60px;
    text-align: start;
    color: #000000;
    //padding: 0 40px;
    @include fluid-type(768px, 1920px, 16px, 18px);
    @include breakpoint(md){
      //padding: 0 38px 0 32px;
      @include fluid-type(360px, 768px, 14px, 16px);
    }
    @include breakpoint(sm){
      //padding-right: 30px;
    }
  }

  &__subtitle--question{
    padding:0 40px;
    line-height: 200%;
    margin: 10px 0;
    @include breakpoint(md){
      padding:0 38px 0 32px;
    }
    @include breakpoint(sm){
      padding:0 30px;
    }
    @include breakpoint(xs38){
      padding:0 20px;
    }
  }
  &__list {
    //list-style-type: decimal;
    list-style: decimal inside;
      padding: 0 40px 10px;
    @include breakpoint(md){
      padding: 0 38px 10px 32px;
    }
    @include breakpoint(sm){
      padding: 0 20px 20px 20px;
    }
  }

  &__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #000000;

    @include fluid-type(768px, 1920px, 14px, 16px);
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 12px, 14px);
    }
    @include breakpoint(sm){
      line-height: 30px;
    }
  }

  &__card-footer {
    display: flex;
    flex-direction: column;
  }

  &__card-f-row {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 40px;
    border-bottom:2px solid #E3E3E3;

    &:first-child{
      border-top:  2px solid #E3E3E3;
    }
    &:last-child{
      border-bottom: 0;
    }
    @include breakpoint(md){
      padding-right: 38px;
      padding-left: 32px;
    }
    @include breakpoint(sm){
      padding:0 30px;
    }
    @include breakpoint(xs38){
      padding:0 20px;
    }
  }

  &__value {
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    @include fluid-type(768px, 1920px, 14px, 16px);
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 12px, 14px);
    }


  }

  &__value--blue {
    font-weight: 700;
    color: #1178B2;
  }

  &__btn-wrapper {
    padding:25px 40px;
    @include breakpoint(md){
      padding-left: 32px;
      padding-right: 34px;
    }
    @include breakpoint(sm){
      padding: 13px 30px 21px;
    }
    @include breakpoint(xs38){
      padding: 13px 20px 21px;
    }
  }
  &__btn {
  }
}