.program {

  padding-bottom: 100px;
  @include breakpoint(lg){
    padding-left: 20px;
    padding-right: 20px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__title {
  }


  &__get-full {
  }
}