.results {

  padding:100px 0;
  @include breakpoint(lg){
    padding:100px 20px;
  }
  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__title {
  }

  &__cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    @include breakpoint(sm68){
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    @include breakpoint(sm){
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      row-gap: 10px;
    }
  }

  &__card {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: start;
    padding:45px 40px 27px;
    flex-direction: column;
    @include breakpoint(lg){
      padding:45px 20px 27px;
    }
    @include breakpoint(sm){
      padding:41px 10px 40px
    }
  }

  &__card-number {
    font-weight: 800;
    line-height: 1;
    color: rgb(136, 187, 216);
    margin-bottom: 17px;
    @include fluid-type(768px, 1920px, 64px, 80px);
    @include breakpoint(md){
      margin-bottom: 25px;
      @include fluid-type(360px, 768px, 40px, 64px);
    }
    @include breakpoint(sm){
      margin-bottom: 10px;
    }
  }

  &__card-title {
    font-weight: 600;
    line-height: 30px;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;

    @include fluid-type(768px, 1920px, 14px, 18px);
    @include breakpoint(sm){
      line-height: 20px;
      margin-bottom: 5px;
    }
  }

  &__card-desc {
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    color: #000000;

    @include fluid-type(768px, 1920px, 14px, 15px);
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 12px, 14px);
    }
  }
}