.services {

  &__row {
    padding:100px 0;
    @include breakpoint(lg){
      padding:100px 20px;
    }
  }

  &__title {
    margin-bottom: 110px;
    @include breakpoint(md){
      margin-bottom: 20px;
    }
    @include breakpoint(sm){
      margin-bottom: 10px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 184px;

    @include breakpoint(lg){
      row-gap: 120px;
    }
    @include breakpoint(md){
      row-gap: 50px;
    }
  }

  &__card {
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
    @include breakpoint(md){
      row-gap: 20px;
      flex-direction: column-reverse;
      max-width: 560px;
      margin: 0 auto;
    }


  }
  &__card--bottom{
    display: flex;
    flex-direction: row-reverse;
    padding-right:55px;
    padding-left: 60px;
    column-gap: 15px;
    .services__card-txt{
      max-width: 605px;
    }
    .services__img-wrapper{
      min-width: unset;
    }
    @include breakpoint(md){
      flex-direction: column-reverse;
    }
    @include breakpoint(lg12){
      padding-right: unset;
      padding-left: unset;
    }
  }

  &__card-txt {
    max-width: 674px;
    flex-basis: 60%;
  }

  &__card-title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 29px;
    color: #1178B2;
    margin-bottom: 25px;
    @include fluid-type(768px, 1920px, 18px, 24px);
    @include breakpoint(md){
      text-align: center;
      line-height: 22px;
      margin-bottom: 20px;
      @include fluid-type(320px, 768px, 16px, 18px);
    }
    @include breakpoint(sm){
      margin-bottom: 10px;
      line-height: 19px;
    }
  }

  &__card-desc {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    @include fluid-type(768px, 1920px, 16px, 20px);
    @include breakpoint(md){
      @include fluid-type(320px, 768px, 14px, 16px);
    }
  }

  &__card-paragraph {
    @include breakpoint(md){
      text-align: center;
    }
  }

  &__card-btn {
  }

  &__img-wrapper {
    //min-width: 495px;
  }

  &__img {
  }

  &__card--bottom {
  }
}