.sponsors {

  padding-bottom: 100px;

  @include breakpoint(lg){
    padding-left: 20px;
    padding-right: 20px;
  }
  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    @include breakpoint(lg){
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(3,1fr);
    }
    @include breakpoint(md){
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4,1fr);
      margin: 0 auto;
    }
    @include breakpoint(sm){
      gap: 11px;
    }
  }

  &__card {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    height: 100%;

    @include breakpoint(md){
      max-height: 82px;
      max-width: 240px;
    }
    @include breakpoint(xs38){
      max-width: 155px;
      max-height: 54px;
      padding:5px 16px 5px;
    }
  }
  &__card--dtec{
   grid-row: 2/3;
  }
  &__card--in5{
    grid-row: 2/3;
  }

  &__img {
    max-height: 100%;
  }
}