.trade {
  padding:100px 0;
  overflow-x: hidden;
  @include breakpoint(lg){
    padding:100px 20px;
  }
  &__row {
  }

  &__title {
    margin-bottom: 35px;

    @include breakpoint(md){
      margin-bottom: 44px;
      line-height: 35px;
    }
    @include breakpoint(sm){

    }
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  row-gap: 56px;
  @include breakpoint(md){
    row-gap: 45px;
  }
  @include breakpoint(sm){
    row-gap: 21px;
  }

  &__panel {
  }

  &__link {
  }

  &__content {
    display: none;
    border-top: none;
    animation: fadeEffect 1s;
    column-gap: 10px;
    @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    @include breakpoint(sm65){
      flex-direction: column;
      //row-gap: 0px;
    }
  }

  &__col-l {
    max-width: 345px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 29px;

    @include breakpoint(md){
      row-gap: 17px;
    }
  }

  &__txt {
  }

  &__title {
    font-weight: 600;
    line-height: 41px;
    text-transform: uppercase;
    color: #000000;
    @include fluid-type(768px, 1920px, 24px,32px);
    @include breakpoint(md){
      line-height: 34px;
      @include fluid-type(360px, 768px, 18px, 24px);
    }
    @include breakpoint(sm){
      line-height: 24px;
    }


  }
  &__green-txt{
    color: $secondaryClr;
  }

  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;

    @include breakpoint(md){
      @include fluid-type(360px, 768px, 14px,16px);
    }
    @include breakpoint(sm){

    }

  }

  &__btn {
  }

  &__emp {
    display: flex;
    column-gap: 10px;
    align-items: center;
    @include breakpoint(md){
      margin-top: 11px;
    }
    @include breakpoint(sm){

    }
  }

  &__img-wrapper {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    min-width: 62px;
    @include breakpoint(sm){
      width: 45px;
      min-width: 45px;
      height: 45px;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    object-fit: cover;
  }

  &__emp-txt {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
    max-width: calc(100% - 72px);
    @include breakpoint(sm){
      max-width: calc(100% - 55px);
    }
  }

  &__emp-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    @include truncate-text(calc(100% - 62px - 10px - 15px));
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 12px, 16px);
    }
    @include breakpoint(sm){
      @include truncate-text(calc(100% - 45px - 10px - 15px));
    }
  }

  &__emp-position {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #727272;
    @include truncate-text(calc(100% - 62px - 10px - 15px));
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 10px, 14px);
    }
    @include breakpoint(sm){
      @include truncate-text(calc(100% - 45px - 10px - 15px));
    }
  }
  &__content-wrapper{
   position: relative;
  }
  &__bg-ing-wrapper{
    position: absolute;
    z-index: -1;
    top: 31px;
    min-width: 650px;
    @include breakpoint(sm65){
      left: -30%;
    }
    @include breakpoint(sm){
      left: -45%;
    }
  }
  &__col-r {
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,minmax(200px,1fr));
    gap: 20px;
    margin:0 auto;
    width: 100%;
    @include breakpoint(md){
      max-width: 400px;
      row-gap: 10px;
      grid-template-rows: repeat(2,minmax(134px,1fr));
    }
    @include breakpoint(sm65){
      max-width: 100%;
      row-gap: 20px;
      margin-top: 35px;
    }
  }

  &__card {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    transition: .3s ease-in-out;
    padding:20px;
    &:last-child{
      background: #1178B2;
      cursor: pointer;
      .tabs__card-title,.tabs__card-desc{
        color:#fff;
      }
      svg{
        line{
          stroke: #fff;
        }
      }
      &:hover{
        background-color: $secondaryClr;
      }
    }
    @include breakpoint(sm){
      padding:15px;
      row-gap: 10px;
    }
  }

  &__card-title {
    font-weight: 800;
    line-height: 20px;
    color: rgba(17, 120, 178, 0.5);
    text-align: center;
    @include fluid-type(768px, 1920px, 36px, 48px);
    @include breakpoint(md){
      @include fluid-type(320px, 768px, 24px, 36px);
    }
  }

  &__title-sm {
    @include fluid-type(768px, 1920px,20px, 24px);
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 16px, 20px);
    }
  }

  &__card-desc {
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #b7b7b7;
    @include fluid-type(768px, 1920px, 14px, 16px);
    @include breakpoint(md){
      @include fluid-type(360px, 768px, 12px, 14px);
    }
  }
}